[2017-06-14 10:51] alsegno opened #1 "Create an automated build system"
Should be as easy as running a single command (from command line or from Travis (eg)) to create images for any number of targets (ODroid, Khadas VIM, x86 live USB, &c.)

Technologies currently being used:

- qemu
- libvirt
- kitchen

[2017-06-14 10:54] alsegno opened #2 "Update 'first boot'/'config' scripts"
To consume configuration file, perform initial box setup.

Includes the following scenarios:

- first boot
- reboot
- migrate

[2017-06-14 10:59] alsegno opened #3 "Update Ansible scripts to install other software (Matrix/HackMD/DokuWiki)"
Ansible scripts to be updated to install Matrix, Davros, Docuwiki.

There will be some overlap between this and #2 as development progresses.

[2017-06-14 11:00] alsegno opened #4 "OAuth support for Davros + dockerize"
Davros to support using arbitrary OAuth providers. This will support our 'single sign on' requirement for Q2.

[2017-06-14 11:01] alsegno opened #5 "'Discovery' via zeroconf"
Nodes to support discovery of other nodes via zeroconf. Note that this includes some DNS work and will likely interrelate with #2 .

Some consideration to be made for DNS in this task.

[2017-06-14 11:07] alsegno opened #6 "Setup of demo 'cloud' service."
This will live on the Hetzner server.

Fully functioning admin UI not required for this -- users to be created manually.
The 'bundling' requirement does not require full app 'integration', only the #3 scripts should be updated to install everything.

[2017-06-14 11:07] alsegno opened #7 "Create demo movie for Google"
As done last quarter. This will use the demo server created in #6 .
Some feedback:
Writing needs to be a bit more visible (white letters are hard to see)
There should be longer breaks between the sequences (so that non tech people can also follow better)
Introduction slide (like an executive summary: i.e. this demo will show xxx users logging with credentials provided by the LI engineers and log i

[2017-06-14 11:48] mgax commented on #1
So far, we have kitchen working on x86_64 and arm64. It can spin up an ubuntu cloud image, log into it, run commands, and tear it down cleanly.

https://github.com/liquidinvestigations/buildbot

[2017-06-14 12:05] Luthieneye opened #8 "Hoover - acquire data via Davros"
Import Data collections in Hoover via Davros (allow users to upload their own data without the help of a sys admin);

Data collections to sync with Davros (for file-sharing).

(Feature prioritization here:
http://sentre.de:6080/grain/cMhWLtbhRMZQnscXFpBG92)

[2017-06-15 15:21] mgax commented on #1
I've refactored the buildbot scripts to support arm64 in a sane way.

Also, the [odroid image build script](https://github.com/liquidinvestigations/buildbot/blob/42be8b8/shared/scripts/build_odroid_image.sh) is now in the repo, in the shared folder, so it's visible from within a buildbot VM. Run it like so:

[code]

If all goes well, the liqud image will be saved to `shared/output/odroid-c2-liquid

[2017-06-16 07:45] Luthieneye opened #9 "Server Maintenance"
Hetzner server: Sentre, Liquidinvestigations.org - Wordpress + SAAS platform

CRJI server

[2017-06-16 07:46] Luthieneye commented on #9
Hetzner server: Sentre,  Liquidinvestigations.org - Wordpress + SAAS platform

CRJI server

[2017-06-16 07:48] Luthieneye opened #10 "MK/Pit - Tech documentation"
Architecture Document, Github

[2017-06-16 08:12] alsegno commented on #10
@Luthieneye is this to finalize the architecture document?

[2017-06-16 08:12] alsegno commented on #9
@gabriel-v do you have any documentation on these tasks?

[2017-06-16 08:13] Luthieneye commented on #10
Yes

[2017-06-16 12:11] alsegno opened #11 "Performance testing"

[2017-06-16 12:16] alsegno opened #12 "Finalize Architecture Document"
Incorporate MK/Pit's comments
Address any other comments/concerns

Add sections for HTTPS, possible evaluation of other 'mid-range' boards (x86)

[2017-06-16 13:44] alsegno opened #13 "x86 host/x86 guest/x86 image building"
Use buildbot on x86/x86 to create a raw (USB key) bootable image of liquidinvestigations distribution.

This image should be convertible via qemu-convert (https://docs.openstack.org/image-guide/convert-images.html) to any number of virtualization platforms.

related to #1

[2017-06-19 07:53] gabriel-v commented on #1
Here's how to create a vagrant .box from a VirtualBox .ova image: [the link](https://github.com/crohr/ebarnouflant/issues/7).

We might want to create a [base box](https://www.vagrantup.com/docs/virtualbox/boxes.html) from scratch, as a separate

[2017-06-19 08:00] alsegno commented on #5
http://www.dnspython.org/

[2017-06-19 08:00] alsegno commented on #5
https://pypi.python.org/pypi/easyzone

[2017-06-19 09:13] alsegno opened #14 "Support OpenVPN (client/server)"
The board should support OpenVPN as a client or as a server.

As the deadline approaches this issue will link to use cases.

[2017-06-19 09:14] alsegno opened #15 "OAuth support for Hypothesis"
Hypothesis needs to use our OAuth server for authentication

question: who should this be assigned to?

[2017-06-19 09:16] alsegno opened #16 "Review security/firewall situation"
Once some more progress has been made in discovery/BIND/wireless AP, we need to do a complete security review to generate recommendations for firewall/other security measures.

[2017-06-19 12:15] alsegno opened #17 "Logfile dump/zip/download"
When we enter UAT, we will want some facility (from the admin GUI?) to dump recent logs for sending to the dev team.

[2017-06-19 12:17] alsegno opened #18 "Sandboxing of privilege escalation"
We should restrict sudo to specific commands.

[2017-06-19 13:52] alsegno opened #19 "Evaluate viability of Matrix on ARM"

[2017-06-19 13:52] alsegno opened #20 "Evaluate viability of HackMD on ARM"

[2017-06-19 13:52] alsegno opened #21 "Evaluate viability of DocuWiki on ARM"

[2017-06-20 05:50] alsegno commented on #4
Per @nightsh this is progressing and we should have a first look today.

[2017-06-20 05:52] alsegno commented on #5
@gabriel-v produced these test-related docs.

https://github.com/liquidinvestigations/docs/blob/docs-for-zeroconf/tests/TestingZeroconf.md

[2017-06-20 05:57] alsegno commented on #10
Preparation of document outlines to guide investigation into:

1 - HTTPS solutions
2 - Other classes of boards (better than ARM)
3 - 'cloud'/darknet storage options

have been produced and delivered to MK/Pit.

[2017-06-20 05:58] alsegno commented on #12
This will depend (at least) on #21, #20, #19

[2017-06-20 05:59] alsegno commented on #15
@Luthieneye the Hypothes.is team should be contacted to ensure that this is moving along.

[2017-06-20 06:02] alsegno commented on #14
@dreamlayers Is this something you could help with in the future?

[2017-06-20 06:03] alsegno commented on #9
@gabriel-v since this is an ongoing task, I don't think it deserves a GitHub issue -- better to create a documentation task, or just know that there are docs somewhere, then we can close this?

What do you think?

[2017-06-20 06:13] alsegno commented on #10
Assigning to @Luthieneye until we can get MK/Pit's details for github.

[2017-06-20 06:25] alsegno commented on #16
Possibly can go under #10?

[2017-06-20 06:27] alsegno commented on #20
Note: we may want to look at Etherpad here too.

[2017-06-20 06:59] mgax commented on #9
Yeah we could use a wikipage describing our internal infrastructure. I think sentre's wiki is a good home for that page, since we'd probably want to keep it private.

[2017-06-20 07:25] nightsh commented on #4
Some updates on this, to have a written record.

There are multiple ways of accomplishing this, each with its own implications. I have experimented with them all in the past few days:

* [Ember engines](http://ember-engines.com) – this is my fav so far, it mounts a specially crafted addon inside the app. It feels like a wrapper in terms of decoupling logic from the app, but it's not fully decouple

[2017-06-20 08:24] alsegno commented on #4
@nightsh what do you need from me/us *now* in terms of answers to the 'parts we never thought about'?

[2017-06-20 08:36] nightsh commented on #4
Ah, nothing really, it's just the first time I encountered them. How does the authentication worfkflow integrates with Davros normal operations, adding providers, really tiny things that are only seen while getting your hands dirty 😅
I only have one question so far: are we going for multiple providers in our scenario(s), or one liquid core node should rule over who gets to access Davros? I can add

[2017-06-20 08:38] nightsh commented on #4
Ah btw, I have a Davros that logs in via facebook, now I'm brushing up the view layer. I just installed/configured a core server locally and I'll be attempting a login shortly. Fingers crossed!

_Also, PR might be coming through for core documentation. But that's another story._

[2017-06-20 08:44] alsegno commented on #4
As I understand it, each node will have an OAuth provider, and the Davros instance on that node will always use that provider. @mgax can clarify.

[2017-06-20 09:15] alsegno opened #22 "Refactor Hoover indexing pipeline"
Automate all digesting/indexing of collections

[2017-06-20 09:16] alsegno opened #23 "Hoover improvements"
Umbrella issue for future hoover improvements

[2017-06-20 09:17] alsegno commented on #23
May include some authentication work (Yubi keys)

[2017-06-20 09:19] alsegno commented on #23
Refer here: http://sentre.de:6080/grain/cMhWLtbhRMZQnscXFpBG92

[2017-06-20 09:26] alsegno commented on #21
Initial investigation is complete on this. DocuWiki known to be working on ARM devices, see: http://sentre.de:6080/grain/D8Dx2H6bf4DWFkMwjhET2a/software/dokuwiki

[2017-06-20 09:28] alsegno commented on #19
First step: install on x86, keep notes of dependencies, config, &c.

[2017-06-20 09:28] alsegno commented on #20
First step: install on x86, keep notes of dependencies &c.

[2017-06-20 09:31] alsegno opened #24 "Dockerize DokuWiki"
Get DocuWiki into a docker container for ease of provisioning.

* [x] get dokuwiki to work in docker on my machine: there's a ready-made docker image for dokuwiki - [istepanov/dokuwiki](https://hub.docker.com/r/istepanov/dokuwiki/) - for x86_64.
* [x] include the dokuwiki docker in ansible for x86_64, make sure it runs on the imgae produced with buildbot
* ~integrate with liquid-core auth~ (liquid

[2017-06-20 09:31] #21 closed

[2017-06-20 10:10] mgax opened #25 "Update Hypothesis client integration"
They changed the name of an environment variable: https://groups.google.com/a/list.hypothes.is/forum/#!msg/dev/WndivGDfOxE/hi91QiXkAQAJ

[2017-06-20 14:34] gabriel-v commented on #5
Work is still in progress.

See the diffs at the following PRs that close this issue:
https://github.com/liquidinvestigations/docs/pull/1
https://github.com/liquidinvestigations/setup/pull/5
https://github.com/liquidinvestigations/core/pull/2

@alsegno Let's discuss the title and modifications on the documentation title through inline comments on the [docs pull request #1](https://github.com/liqui

[2017-06-20 15:08] mgax commented on #1
I've simplified the kitchen commands, it's now a one-liner:

[code]

The build now works for odroid-c2, tested by copying to SD card and booting. It previously failed because it was using a broken base image.

Closing the issue; we still need a x86_64 buildbot but that's tracked in #13.

[2017-06-20 15:08] #1 closed

[2017-06-21 14:48] Luthieneye commented on #15
FYI, here is the thread between Hypothes.is and Alex re: O auth : https://groups.google.com/a/list.hypothes.is/forum/#!searchin/dev/Third$20party$20accounts/dev/X189Sgj7o40/F0dUVfwoAwAJ

[2017-06-22 09:17] alsegno opened #26 "first boot to create admin user"
The first boot scripts are to be modified to create a working admin login for both hoover & hypothesis (and probably davros, everything else that needs it)

[2017-06-22 09:32] alsegno commented on #26
The first boot scripts should be updated as follows:

1. Create the superuser in liquid core (eg. `manage.py createsuperuser`)
2. Set up OAuth for hoover (create client ID, auth token in liquid-core)
3. Configure hoover with client ID & token
4. Authenticate, promote this user to a privileged/admin user in hoover

[2017-06-22 11:18] alsegno commented on #5
Today we ran into a small problem regarding the behaviour of zeroconf when nodes can route to other nodes via multiple interfaces.

This needs to be resolved before we can close this issue.

[2017-06-22 12:38] alsegno commented on #19
Everything works with the default matrix client. This will need to be integrated with ansible. The following steps were performed by hand and working fine on the ODroid C2:

commands executed

- apt-get install build-essential python2.7-dev libffi-dev python-pip python-setuptools sqlite3 libssl-dev python-virtualenv libjpeg-dev libxslt1-dev
  - The following additional packages will be installed:

[2017-06-22 12:41] alsegno commented on #19
we probably don't want to use the default web client -- instead we should look at hosting the riot client on the board:

https://github.com/vector-im/riot-web

[2017-06-22 13:45] alsegno commented on #19
I was able to set up the riot client served statically from nginx. Do the following:

riot client install

- https://github.com/vector-im/riot-web
- commands executed
  - mkdir /opt/riot
  - cd /opt/riot
  - wget https://github.com/vector-im/riot-web/releases/download/v0.11.4/riot-v0.11.4.tar.gz
  - tar xzvf riot-v0.11.4.tar.gz
  - cd riot-v0.11.4/
  - put the following in config.json
    `{

[2017-06-22 13:46] alsegno commented on #19
Note that the above config.json works, but we probably want to do something more sensible with the various server names.

[2017-06-22 13:47] alsegno commented on #19
Next steps: put this stuff in ansible, investigate OAuth for matrix auth.

[2017-06-22 13:51] alsegno commented on #19
NOTE: with the register_new_matrix_user script we may be halfway to having some kind of single signon working. I'm still investigating oauth.

[2017-06-22 13:52] alsegno opened #27 "Add Matrix install to ansible setup scripts"
Subtask of #3.

See #19 for details. We know matrix works, we just need to get it into the setup scripts.

[2017-06-22 13:53] #19 closed

[2017-06-22 19:17] dreamlayers commented on #13
I'm attempting to adapt build_odroid_image.sh into build_x86_64_image.sh and build an image using ubuntu-16.04-server-cloudimg-amd64-disk1. So far, few changes are needed and later a single script which detects architecture could be used. I'm running into this problem:

[code]

The `"cmd"` seems to imply that Ansible didn't understand the parameters and is simply running a default git command. I n

[2017-06-23 01:17] dreamlayers commented on #13
It seems the problem with cloning the testdata repo was that it had partially completed, leaving files at the destination which weren't a valid git repository. It probably happened when I ran out of disk space in the image, before enlarging it to 4 gigs. After that, all the Ansible tasks completed successfully.

[2017-06-23 11:27] mgax commented on #13
That's great news! Does this mean we have a working x86 image builder?

[2017-06-23 13:52] Luthieneye opened #28 "Review Rock64"
presentation:
https://www.pine64.org/?page_id=7147

review:
http://www.cnx-software.com/2017/06/08/rock64-is-a-rockchip-rk3328-development-board-with-up-to-4gb-ram-4k-hdr-gigabit-ethernet-and-usb-3-0/

ARMbian support: https://forum.armbian.com/index.php?/topic/4451-example-support-proposal-for-rock64/

[2017-06-23 14:00] Luthieneye opened #29 "ARMbian-debian image"
Pros for using of armbian-debian, instead separate images for each type of box:

-Armbian image covers directly +20 different boards and their drivers (runs on odroid as well khadas)

-Very active community (unlike for khadas/odroid)

- Reasons for debian: https://forum.armbian.com/index.php?/topic/4291-armbian-debian-vs-ubuntu-future-versions/#comment-31952

- Easier to extend a better security t

[2017-06-26 09:36] alsegno commented on #4
@nightsh what's the current status of this? I'd love to close it :)

[2017-06-26 09:37] alsegno opened #30 "dockerize matrix based on #19"
Matrix should be dockerized before #27 is completed

[2017-06-26 09:41] alsegno commented on #13
This was merged on Friday. Need to do a quick test, then we can call it done.

[2017-06-26 09:49] alsegno commented on #10
@Luthieneye I'm leaving this assigned to you in 'ready' state until we decide the best way of handling these.

[2017-06-26 10:20] nightsh commented on #4
Hold it there, don't close it yet :)
Planning to resume hacking Davros this evening / tomorrow AM and come back here with an update (final or not). Does it sound reasonable?

[2017-06-26 10:21] alsegno commented on #4
Yes :)

[2017-06-26 10:27] alsegno opened #31 "website re-work"
We'd like to use a new template for the website, something clean and simple.

Best example we've seen so far for template + sections is http://www.pivpn.io/

Their website is licensed under the CC3.0 Attribution license:

https://github.com/pivpn/pivpn.github.io

[2017-06-26 12:47] mgax commented on #13
I've built an image inside a vmware on my macbook, it took 66 minutes. It's in our [images folder](https://liquidinvestigations.org/images/)/`liquid-20170626-x86_64.img.xz`.

[2017-06-26 16:20] alsegno commented on #13
I converted this to a vdi with `qemu-img convert -f raw -O vdi filename.img filename.vdi` and i can't get it to boot. @dreamlayers can you take a look?

[2017-06-26 18:17] dreamlayers commented on #13
@alsegno, the VirtualBox boot hang is due to the console= kernel parameter referencing a non-existent device: https://bugs.launchpad.net/cloud-images/+bug/1573095

You can simply remove that parameter from the entry near the end of /boot/grub/menu.lst. This does it automatically from the script https://github.com/dreamlayers/buildbot/commit/3e5bfca7bb6272f8bcaa197cb40673e9f7f12809 (Not sure if I s

[2017-06-26 19:31] alsegno commented on #13
@dreamlayers, you can commit directly to the repository, no problem.

I'll look at this tomorrow, try to run it, and verify that it works in virtualbox/vmware, then I think we are close to closing this out.

Do we want to include the --debug/development parameter somewhere that sets up a default user before we close this?

[2017-06-26 20:06] dreamlayers commented on #13
Ubuntu cloud-init is causing a delay of a few minutes on startup checking if it's running on a cloud provider. [It can be disabled](https://askubuntu.com/a/579301) though it might be useful for users, so should probably only be disabled on debug builds.

[2017-06-26 20:40] alsegno commented on #13
If I understand right, this is because we're specifically using an 'ubuntu cloud' image as our base image. Is that the right base image to use for cases where we just want to run in virtualbox/vmware/qemu on our local boxes?

We should be able to produce cloud-ready images as well as desktop-ready or development-vm ready images, right? Does it make sense to just use a different base image in some

[2017-06-27 09:37] mgax commented on #13
I think we should disable it indiscriminately. [Here](https://github.com/liquidinvestigations/buildbot/blob/9a04ff41/prepare_cloud_image.py#L25)'s how it's done in buildbot. We're using the cloud image because it's a convenient ready-made image - we could just as well use debootstrap to create our own.

[2017-06-27 11:26] alsegno commented on #12
Based on my conversation today with @Luthieneye I will integrate MK/Pit's comments, and update User Scenario B, C for review by Gabi/Alex.  I'll take care of it this week.

[2017-06-27 11:27] alsegno commented on #10
Closing in favour of #12

[2017-06-27 11:30] #10 closed

[2017-06-28 10:54] alsegno commented on #4
How's it going?

[2017-06-28 17:32] alsegno commented on #13
I still can't boot the image after converting it to vdi and creating a virtualbox VM.

Am I missing something?
https://pastebin.com/5k361bAL

![Screen Shot 2017-06-28 at 20.31.44.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594119bf3984c3001af93325/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256456fb6b7191a37aef0c2850415b4abe5d4a1f06a3a3dc78e2a436628f5

[2017-06-29 09:00] alsegno commented on #4
Current status:

@nightsh has proven that OAuth authentication works against our OAuth provider.
@nightsh to provide a working system & supplementary information for testing.

Next steps:

@nightsh to work on persistent sessions
@nightsh then to work on dockerizing the application

[2017-06-29 09:12] alsegno commented on #4
@alsegno to test what @nightsh provides

[2017-06-29 09:15] alsegno commented on #9
@mrc-toader to work with gabriel to get everything captured in a wiki page, take on ongoing maintenance.

Once the wiki page is complete, this issue should be updated and closed.

[2017-06-29 09:15] alsegno commented on #20
@mrc-toader we have ODroid XU4 boxes - maybe you can take one home to work on it, or do it here? Do you have an estimate of when you could validate the HackMD install on ARM?

[2017-06-29 09:25] mrc-toader commented on #20
Ok, I could drop by today or tomorrow evening after work, pick it up and go through the install process on it, since it was pretty straightforward on x86. I could have an answer by monday on it.

[2017-06-29 09:35] alsegno commented on #20
Perfect. You'll either need an SD card writer, or to write the base image while you're here.

Find the image here:

http://odroid.com/dokuwiki/doku.php?id=en:xu3_release_linux_ubuntu

For this task you don't need to set up all of liquid, just install that image, install hackmd, and keep notes. From there we can move into dockerizing, &c.

Once you have it working I'd like to take a look at it, so

[2017-06-29 13:06] alsegno commented on #12
Today I updated User Scenario B, C (most of the work was already complete). I will need to review these tomorrow, an as well incorporate MK/Pit's work, and some comments on the new Davros and Matrix work and the ongoing HackMD & Docuwiki work.

[2017-06-29 15:51] dreamlayers commented on #13
I'm sorry. I can reproduce this also. The cloud image has two grub versions installed: grub-legacy-ec2 and a newer version. I saw that it worked after making a change for the legacy grub and thought it was fixed, but this morning I saw it was getting the console setting from the newer grub. https://github.com/liquidinvestigations/buildbot/commit/b6f0916fddcab4157604dbf8415bc77914e0bc2b should take

[2017-06-30 13:17] alsegno opened #32 "Overall network architecture diagram/document"

[2017-07-02 07:53] alsegno commented on #13
Ok I've tested the vagrant box and it boots just fine (see #images on slack). It looks like we almost have everything complete.

What will it take to close this issue and move on to the next thing?

1 - cron job for nightly/weekly builds?

Should this have its own issue?

[2017-07-02 18:09] mgax commented on #13
Yeah, the cron should be a separate issue, with an item that says "document the cron job". That doc should go into an internal wiki that describes our entire ops setup (build machine, website, the ARM boards in the office, future liquid nodes maintained by our team).

But this task is done, let's have closure :beers:

[2017-07-02 18:12] alsegno commented on #13
Ok I'll take care of it in the morning.

[2017-07-03 07:41] mrc-toader commented on #20
I've had a few dependencies issues with npm, still digging into it; tonight i'm gonna check the versions vs local machine where the install went well.

[2017-07-03 09:16] alsegno commented on #13
Ok this task is done & tested. I'm going to create the cronjob issue and assign to boris. This one is closed! Congrats.

[2017-07-03 09:16] #13 closed

[2017-07-03 09:18] alsegno opened #33 "Nightly build crontab on hetzner server"
* [x] create a cron job that runs nightly to produce all relevant images (ie x86, ARM, raw disk files, vmware/virtualbox images, vagrant boxes) and put them on liquidinvestigations.org/images.
  targets:
    * [x] `x86_64` raw image, xz-compressed
    * [x] vagrant box
    * [x] `arm64` odroid-c2 raw image, xz-compressed

  NOTE: we should probably think about how much space these will take in the

[2017-07-03 09:19] alsegno commented on #9
question @mgax should this live alongside the nightly build docs (ie in a sentre gitlab project?)

[2017-07-03 09:21] mgax commented on #13
🍰

[2017-07-03 09:21] alsegno opened #34 "all services should start on machine start"
currently none of our services start when the machine does. This means there's a manual step between booting the image and doing anything useful. all installed services should start by default.

(sort of) related to #26

[2017-07-03 09:22] mgax commented on #9
Yep, that makes sense.

[2017-07-03 10:25] alsegno commented on #20
Ok. But you need to remember that they're different architectures.

[2017-07-03 11:37] Luthieneye commented on #8
How does that exactly work? Will Hoover ingest a big fat collection from Davros? or will it be on a folder basis ?

[2017-07-03 12:27] Luthieneye commented on #4
Per chat with Stefan we don't need features such Public Link sharing and Desktop Sync client.

[2017-07-03 13:53] mgax commented on #8
Davros will be the only way to import collections. Perhaps each top-level folder in davros will become a Hoover collection. If we do things right, after you import a collection into hoover, you can add more files to it with Davros, and Hoover will pick up the new files.

[2017-07-03 14:03] alsegno opened #35 "fix default nginx page"
this should probably redirect to liquid core

[2017-07-03 14:05] alsegno opened #36 "Docker to work in Ansible"

[2017-07-03 14:09] alsegno opened #37 "auto-add users to matrix via liquid-core"

[2017-07-03 14:14] alsegno opened #38 "auto-add users to dokuwiki via liquid-core"

[2017-07-03 14:17] alsegno opened #39 "Demo server build scripts (from images)"
continuous deployment to demo server

- first manual deployment (qemu+libvirt)
- dns config - demo.liquidinvestigations.org
- https (letsencrypt)
- persistent volume that doesn't get nuked on deploy (https certs)
- manual trigger for redeploy

[2017-07-03 14:17] mgax commented on #35
Auto-redirecting is dangerous. Say your liquid node is called `liquid.foo.net`, and it's connected on your LAN (i.e. you're not on its hotspot and your dns server is not controlled by the liquid node), and you type in its IP address in the browser. If the nginx gives you a redirect to `liquid.foo.bar`, that request goes to your ISP's DNS, which might even take you to a placeholder page with ads. I

[2017-07-03 14:18] alsegno commented on #6
depends #39

[2017-07-03 14:21] alsegno commented on #27
depends #30

[2017-07-03 14:26] alsegno commented on #2
config file should contain:

- hostname, e.g. liquid.example.com
- admin username+password
- wifi client/hotspot, ssid+password

first boot should:

- generate per-application config files that include hostname
- create admin user(s)
- in case of failure (ie missing config file/stick):
  - show error on default nginx page, console
  - report at http://firstbootliquid.local

[2017-07-03 14:28] alsegno opened #40 "arm64 matrix docker image creation"

[2017-07-03 14:28] alsegno opened #41 "arm64 dokuwiki docker image creation"

[2017-07-03 14:29] alsegno opened #42 "davros on ARM"

[2017-07-03 14:57] alsegno commented on #6
closed in favour of #39

[2017-07-03 14:57] #6 closed

[2017-07-04 02:48] dreamlayers commented on #39
We've already got hoover.liquidinvestigations.org, hypothesis and client.hypothesis, though all are pointed to the same IP as the web site. If that's not changed, reverse proxy can be used to send them to a different server.

There's also a "liuid_stage+test" VM at a different IP.  Is that doing something now?  I was thinking it could be used for this. Deploying from automated builds every night i

[2017-07-04 07:26] mgax commented on #39
I think we should set up `demo.liquidinvestigations.org` and `*.demo...` DNS records, so the purpose of that domain is clear. We do need a wildcard DNS entry because each app in the liquid bundle lives in its own subdomain.

Yep, I agree, and it would be great to develop a smoke testing suite, to be run automatically after setup+buildbot. Not sure if we should prioritize this before the Q2 deliver

[2017-07-04 07:37] mrc-toader commented on #20
Captain's log.
Dependency hell broke loose on lacking arm support, hackmd died a horrible death. However, I've successfully installed Etherpad. I'm gonna poke at customizing it's install settings (db to use, default port, preinstalling plugins).

[2017-07-04 13:44] dreamlayers commented on #39
Sounds good and exists already. They point to the web server IP though, so they need changing or reverse proxy.

[2017-07-04 14:49] dreamlayers commented on #34
I suppose bad things may happen on first boot if I simply remove the `autostart = false` from the supervisor conf files initially. So I'm thinking on first boot:

* Don't stop services started in the script
* Start the other services
* Edit the supervisor conf files with sed so the services autostart on subsequent boots

[2017-07-04 17:17] #34 closed

[2017-07-04 18:03] dreamlayers commented on #39
My proposed plan now is:

* Don't bother with changing DNS. I don't know when that would be possible and it's not necessary.
* Use `demo.liquidinvestigations.org` and `*.demo...` . Change `liquid_domain` to that when building image. It makes more sense than liquid.example.com.
* Handle Let's Encrypt and https:// on the web server and use http:// reverse proxy forwarding to demo machine. Still secu

[2017-07-05 07:14] mgax commented on #39
It would make our lives much easier if we didn't have to reverse proxy the demo server through the web vm, so I think we should push to get the DNS change.

Yes, definitely. The domain name should be set as part of the first-boot process, not as part of image building.

Yes! We disabled dist-upgrade because it slowed down ansible when running in local development, but there should be a flag for th

[2017-07-05 16:06] alsegno commented on #32
I'm making some decent progress on the various network cases. Spent a couple of hours today. I'll plan to publish them tomorrow.

[2017-07-05 16:09] alsegno commented on #15
We had a call today -- the plan is for us to meet directly with their development team.

They are currently re-working their authentication mechanism so that it will live in a pop-up. It looks like auth will be handled by a POST which returns a token that can be used by the web app/bookmarklet.

It should be possible to write a small integration that handles their POST, then authenticates to *our*

[2017-07-06 08:47] alsegno commented on #25
Since this is not so time consuming, can be completed today or tomorrow.

[2017-07-06 10:00] alsegno commented on #35
Ok sounds good. Talked to Gabi, assigned to him for today.

[2017-07-06 11:35] #35 closed

[2017-07-06 12:09] alsegno commented on #33
Boris did you start looking at this?

[2017-07-07 08:58] germakoci opened #43 "Select/Deselect All Collection filter button in Hoover"
With more collections added to Hoover, it is taking a lot of time to Click Select or Deselect each collection, one at a time, when performing searches.

On top of the Collection list, a button to click to Select/Deselect All would be very handy.

A more complete solution would be that the Select/Deselect button has also a mouse over show field to Search for a specific collection name to Select/Des

[2017-07-07 10:19] mgax commented on #25
Turns out, we're already using `SIDEBAR_APP_URL `: https://github.com/liquidinvestigations/h-client-build/blob/master/bake.py#L17

[2017-07-07 10:19] #25 closed

[2017-07-07 10:44] alsegno commented on #20
can you create a new issue called 'evaluate etherpad on arm', and use that to track this?

as soon as you do that we can close this one.

[2017-07-07 11:38] mrc-toader commented on #20
Well, I'm currently going through the basics of docker, then I'll attempt to build hackmd's docker repo with a few tweaks for arm and see how that goes, at Victor's suggestion, since hackmd is a lot better feature and stability wise.
If it still doesn't work, will make different issue thread and switch it.
Not much to evaluate, etherpad works out of the box on arm.

[2017-07-07 14:50] Luthieneye commented on #15
https://github.com/hypothesis/product-backlog/issues/328

[2017-07-10 10:42] mgax commented on #36
Pending [this PR](https://github.com/liquidinvestigations/setup/pull/9), our Ansible setup now supports docker containers. For the "pre-existing server" use case, the docker images are set up on the server normally; for the "image chroot" use case, the images are set up outside the chroot (in the temporary kitchen vm), and copied into the chroot once they are ready. We're using the `docker.io` and

[2017-07-10 10:50] alsegno opened #44 "Default system user (for development) to be created during system setup"
We should, when building for development, ensure that there's a default user created that can:

- sudo
- login via ssh
- login via console

I propose liquid/liquid.

[2017-07-10 10:53] alsegno opened #45 "Wifi hotspot not working on ODroid"
With the latest ODroid image (from liquidinvestigations.org/images), I can boot just fine, but with both the Tiveko and Edimax wifi USB cards, I don't get a wifi network.

[2017-07-10 10:53] alsegno commented on #44
While we're at it we should probably disable the root/odroid user for the odroid, and any other default users for whatever other images we're making, right?

[2017-07-10 10:58] alsegno opened #46 "LAN based user scenario change -- no router needed"
A router should not be necessary to set up the board on a LAN -- a board configured as a 'primary node' should run a DHCP & DNS server, and the 'secondary nodes' should get their IP/DNS server addresses from it.

The network diagrams for user scenarios A, B (single/multi-node, LAN) should be adjusted to reflect this -- instead of a 'router', there should simply be a 'switch' in the LAN based scena

[2017-07-10 11:05] mgax commented on #44
Yep, that should give us a nice dev experience. At some point in the future we may want to allow admins, via the liquid-core gui, to upload their ssh key, so they can ssh into the liquid user.

[2017-07-10 15:01] #36 closed

[2017-07-10 15:02] #24 closed

[2017-07-10 15:08] dreamlayers commented on #33
Cron job is running nightly at 22:00 CEST creating just an x86_64 VirtualBox Vagrant .box file.

The script which does this is in the gitlab project.

Documentation is in the home directory of the user created for the builds. Will move it to the wiki.

[2017-07-10 15:27] dreamlayers commented on #33
Documentation is now at automated-build-system in the private wiki.

[2017-07-11 14:46] gabriel-v commented on #5
I think we can finally close this after a code review & cleanup.
https://github.com/liquidinvestigations/core/pull/3
https://github.com/liquidinvestigations/setup/pull/10
liquidinvestigations/docs#1
https://github.com/liquidinvestigations/discover

[2017-07-12 08:51] germakoci opened #47 "Hoover direct filter by collection from search results summary"
A Hoover search in all collections will show the user the number of results in each collection and then list the results.

5023 hits (collection1 2491, collection2 1217, collection3 22, collection4 1144, collection5 20, collection22 123, collection56 6) (page 1/553)

In the results summary showed above, each collection should be hyperlinked to open in a new page only the results of searches in tha

[2017-07-12 09:11] alsegno commented on #33
This looks great, almost ready to close.

Did we resolve yet whether/how we are going to do the nightly ARM image builds? should that go in another issue, and we can close this one?

n.

[2017-07-12 09:16] mgax commented on #33
Let's use this issue, because we're considering the odroid c2 as our current supported ARM target, so we're not done here until that's built nightly. I'm updating the description with a checklist.

[2017-07-12 15:47] dreamlayers commented on #33
On Slack I got the impression that we decided to do nightly ARM builds on the hetzner server, and that has been set up. The aarch64 build happens after the x86_64, and there are separate log files. I've updated the documentation regarding this.

[2017-07-12 16:23] dreamlayers commented on #33
I've installed monit and kind of set it up with
[code]
Though I'm not sure if the server is set up to send e-mail or who the e-mail should be sent to. This may be of interest: https://peteris.rocks/blog/monit-configuration-with-slack/

[2017-07-13 09:13] mgax commented on #33
I've configured the server to send email as `hetzner.liquidinvestigations.org`. Monit currently sends emails to my personal address; feel free to add your own in `/etc/monit/conf.d/alert`.

[2017-07-13 09:16] alsegno commented on #33
can we move the nightlies into images/nightly/, and move those 'minimal' images into images/minimal/ or something?

then i think we can call this done.

[2017-07-13 13:33] alsegno commented on #9
Proposal -- we need a single resource who can handle 'regular' admin/server maintenance tasks. we should create a 'maintenance window' wherein these tasks happen. *every* task that is done as part of this effort should be documented in the sentre gitlab.

I want to take this issue and move it to our internal gitlab as we should not be discussing internal server maintenance in a public forum.  Clos

[2017-07-13 13:33] #9 closed

[2017-07-13 13:57] alsegno commented on #5
Code review was done today. A few cleanup tasks still to do:

- UI stuff (move to main page, get rid of debug stuff)
- double-check that nodes are removed properly when devices drop off

Once those are complete we will test in a virtual environment again (Vagrant), then move on to testing with physical devices. Great work!

[2017-07-13 16:48] gabriel-v commented on #44
PR is at https://github.com/liquidinvestigations/setup/pull/13. I'll merge it after I test it. Let's leave the dev experience for the next milestone, shall we?

[2017-07-13 16:51] alsegno commented on #44
we shall.

[2017-07-13 17:26] dreamlayers commented on #44
The Vagrant image has vagrant/vagrant and root/vagrant as explained at https://www.vagrantup.com/docs/boxes/base.html#quot-vagrant-quot-user . This is created during the convert image script, so it is not present in the raw images.

[2017-07-13 17:33] gabriel-v commented on #44
I know. I won't remove any system users from the image in this PR, because it's meant to ease our pain when we manually test and debug discovery on the arm boxes.

[2017-07-14 11:05] gabriel-v commented on #44
I merged the changes.

[2017-07-14 11:05] #44 closed

[2017-07-17 14:35] dreamlayers commented on #33
Okay, closing issue :)

[2017-07-17 14:35] #33 closed

[2017-07-17 14:59] dreamlayers commented on #39
Okay, so I have this working, but not committed yet and not set up automatically via cron.

One script, `/home/imgbuild/make_demo_image.sh` is meant to run under buildbot to prepare the image. I didn't commit it into setup because it is part of our private infrastructure. I could either put it into the private repository and copy it from there to shared of buildbot before running, or I could just

[2017-07-17 15:47] mgax commented on #39
I don't think we should deploy a custom image for the demo. It should just use a regular image. This needs some first-boot functionality, e.g. to run a custom script from usb stick, which we plan to do this week anyway. So let's skip custom images altogether and do it with first-boot from the start.

[2017-07-17 20:27] dreamlayers commented on #39
The 3 changes I'm doing so far, along with the reasoning:

* It must set up the network interface. The image wouldn't set it up by default, and it's useless without networking.

* It should upgrade packages (or at least do the security updates). This thing is going on the Internet and we should try to keep it safe.

* It's nice to be able to see the console via `virsh console`, so I switch it to a

[2017-07-18 08:18] mgax commented on #39
Howcome the network interface is not working? I would expect the VM to see an Ethernet interface and do DHCP on it, no?

Absolutely. But look, the demo server is going to boot from an image, and it will not be always up to date. I think that, on first boot, it should do all updates, reboot if necessary, enable apt daily updates, and only afterwards it should start services and allow network traffi

[2017-07-18 12:32] dreamlayers commented on #39
Typically when a desktop Linux system does that, it's because it is running NetworkManager, which isn't installed. We can use systemd-networkd, which is probably a better choice for a server. The older /etc/network/interfaces mechanism works but is set up for specific interface names, and now Linux uses various different names, so you can't just set up eth0.

Sounds good.

Linux sets the console v

[2017-07-20 18:11] alsegno commented on #32
Reviewed, minor edits, published at https://github.com/liquidinvestigations/liquidinvestigations/wiki/Architecture-Documentation

I'll be adding images, doing some more edits soon.

[2017-07-20 18:44] alsegno commented on #32
Images have been added. I still need to break this up into multiple pages, and update the information so that it reflects our latest decisions.

[2017-07-20 19:31] alsegno commented on #32
More improvements:

 - We have a wiki home page (could probably use a few more words),
 - We have a custom sidebar on the wiki,
 - We have all of the images added and each section broken out.

next: more editing, cutting some things out, clarification...

[2017-07-20 20:15] alsegno commented on #32
I've edited sections 1-4, need to go through 5-7 now.

[2017-07-20 20:29] alsegno commented on #32
Section 6 needs links to each of the software projects.

[2017-07-22 17:17] gabriel-v commented on #5
The implementation is finished. Remaining work: revising documentation under liquidinvestigations/docs#1 with latest changes.

[2017-07-24 08:19] alsegno commented on #32
I'm going to close this out as it was specifically for documentation of the network scenarios. Editing of the overall architecture document is in another issue.

[2017-07-24 08:19] #32 closed

[2017-07-24 08:20] alsegno commented on #32
That other issue is #12 :)

[2017-07-24 08:20] alsegno commented on #46
This is now captured in the architecture document.

[2017-07-24 08:20] #46 closed

[2017-07-24 08:21] alsegno commented on #46
see #32 :)

[2017-07-24 10:15] alsegno commented on #39
The scope of this is not 'continuous deployment', but just some scripts that will do deployment in time for the demo this week.

Alex to provisionally take this task and ensure that we can deploy an image to the demo server. In addition Alex to handle DNS stuff for this and a 'landing page' that points people at our contact information.

[2017-07-24 10:17] alsegno commented on #5
Documentation to be completed today then this issue closed.

[2017-07-24 10:23] alsegno commented on #41
done for arm32, requires a readme then will be closed.

[2017-07-24 10:24] alsegno commented on #42
@nightsh can you update this issue with your progress and close if it's complete?

[2017-07-24 14:18] #41 closed

[2017-07-24 14:28] alsegno commented on #12
next steps: editing of section 5,6. gutting of section 7. section 7 to be primarily diagram based. each scenario will link to a sample config in liquidinvestigations/liquidinvestigations/sample_configs/*yml.

[2017-07-24 14:34] gabriel-v commented on #5
The documentation is at https://github.com/liquidinvestigations/docs/pull/1.
@alsegno please review, complete and merge the PR.

[2017-07-24 15:07] alsegno commented on #2
Sample config files will live here:

https://github.com/liquidinvestigations/liquidinvestigations/tree/master/sample_configs

There's a base config file there that will support @gabriel-v in his work tonight.

[2017-07-24 15:09] alsegno opened #48 "Config file from boot partition"
work needs to be done to identify a USB stick at first boot time to get the config file.

[2017-07-25 10:46] alsegno commented on #5
@gabriel-v i made some changes to the readme. i have a couple other comments that you can resolve, then you can merge and we can be done with it. hurrah!

[2017-07-26 09:02] alsegno commented on #39
@mgax after our discussion yesterday, can we agree that the 'continuous deployment' scripts are out of scope for Q2, and that we will configure the demo server manually? That lets us remove the 'hard requirement' label, change the milestone, and bounce it back to backlog...

or am i reading things wrong?

[2017-07-26 09:03] mgax commented on #39
Yes. And it's not too bad, we can still use ansible to update the demo server.

[2017-07-26 09:06] alsegno commented on #5
@gabriel-v did you split the test README file into two yet? I bet you can use 'head' to do it and then just change the two titles.

[2017-07-26 09:11] alsegno commented on #39
ok. i'll change the milestone, labels, and move to backlog. huzzah!

[2017-07-26 10:13] #5 closed

[2017-07-26 11:26] alsegno opened #49 "Clean up scenario images"
the network diagrams for the scenarios shouldn't have titles, and could be cleaned up a bit.

should also include OpenVPN diagrams

[2017-07-26 11:54] alsegno opened #50 "fix liquidinvestigations/docs"
remove architecture & roadmap docs
point the readme links at the wiki & waffle (roadmap)

[2017-07-26 12:09] gabriel-v commented on #18
Right now, the plan is to run `discover` and `systeml` as root.
With additional effort, both services can run as the non-privileged `liquid` user with the following setup:
- the `liquid` user has read/write permissions to `/var/run/supervisor.sock`
- the `liquid` user has read/write access to the `/var/lib/liquid/conf/supervisor/conf.d/*` supervisor configuration files
- everything that is not a d

[2017-07-26 12:12] alsegno commented on #12
done.

[2017-07-26 12:12] #12 closed

[2017-07-26 12:14] gabriel-v commented on #2
I've migrated all service configuration from [setup](https://github.com/liquidinvestigations/setup) to [systeml](https://github.com/liquidinvestigations/systeml).

You can see my ongoing work on [the setup branch](https://github.com/liquidinvestigations/setup/tree/rearrange-conf-files) and [the systeml branch](https://github.com/liquidinvestigations/systeml/tree/initial-proposal).

Until we formal

[2017-07-26 12:15] alsegno commented on #2
The milestone requires us to deliver a config file along with an image. How should we instruct our patron to use these two things together?

[2017-07-26 12:21] alsegno commented on #48
we're de-scoping this from q2. bumping to q3, putting in backlog.

[2017-07-26 14:49] mgax commented on #18
I think we should just run them as root. Sudo just makes our life harder which makes it easier to leave security holes.

[2017-07-26 15:18] mgax commented on #2
With #48 that you just de-scoped.

[2017-07-28 21:40] mgax commented on #38
Fixed in liquidinvestigations/setup#19

[2017-07-28 21:40] #38 closed

[2017-07-29 14:12] alsegno commented on #4
@nightsh can you give me a link to your repository for the narrative report, and close this if it's time?

[2017-07-29 15:48] nightsh commented on #4
Closing it... :wink:

Here are the links:
**github:** https://github.com/liquidinvestigations/davros/tree/feature/oauth-middleware
**main readme new section:** https://github.com/liquidinvestigations/davros/tree/feature/oauth-middleware#oauth
**auth specific readme:** https://github.com/liquidinvestigations/davros/blob/feature/oauth-middleware/docs/authentication.md

[2017-07-29 15:48] #4 closed

[2017-07-30 07:51] #50 closed

[2017-07-30 12:30] alsegno commented on #16
Moving to Q4 - not a specific requirement for Q2/Q3

[2017-07-30 12:30] alsegno commented on #17
Moving to Q3 - this can happen at the same time as we begin deploying for partner/collaborator UAT

[2017-07-30 12:31] alsegno commented on #18
I will agree with Alex, and also I'd like to close this issue as its scope is poorly defined.

[2017-07-30 12:31] #18 closed

[2017-07-30 12:32] alsegno commented on #31
I've taken care of a project landing page at liquidinvestigations.github.io. All other infrastructure discussions will happen outside of github.

[2017-07-30 12:32] #31 closed

[2017-07-30 12:33] alsegno commented on #43
Is this properly scoped in the Liquid Investigations project or should this live as an issue on the Hoover project. @germakoci @mgax ??

[2017-07-30 12:34] alsegno commented on #47
Is this properly scoped in the Liquid Investigations project or should this live as an issue on the Hoover project. @germakoci @mgax ??

[2017-07-30 14:54] alsegno commented on #26
This was not completed in time for the Q2 milestone and will be triaged again for Q3.

[2017-07-30 14:57] alsegno commented on #27
Complete and tested for 'cloud image'. closing in favour of a new issue for arm.

[2017-07-30 14:57] #27 closed

[2017-07-30 14:57] alsegno commented on #3
Complete and tested for 'cloud image'. closing in favour of a new issue for arm.

[2017-07-30 14:57] #3 closed

[2017-07-30 14:58] alsegno commented on #2
Descoping this as well.

[2017-07-30 14:59] alsegno commented on #42
moving to q3

[2017-07-30 15:00] alsegno opened #51 "docker images for matrix"
arm image creation scripts to be tested to ensure that the matrix installation works.

[2017-07-30 15:00] alsegno commented on #37
done. needs testing on arm, will open a new issue for this.

[2017-07-30 15:00] #37 closed

[2017-07-30 15:01] alsegno opened #52 "verify shared user setup matrix/arm"
need to test shared user setup for matrix/arm

[2017-07-30 15:33] alsegno commented on #26
This is already covered under #2

[2017-07-30 15:33] #26 closed

[2017-07-31 11:44] gabriel-v opened #53 "reconfiguring via `/boot/config.yml` file"
[This image](http://liquidinvestigations.com/images/q2-exit/) has an implementation of reconfiguring via the `/boot/config.yml` file.

The code for that to happen is in the image itself, but not on any code repository.
We will need to move that into the setup repo.

[2017-07-31 11:55] gabriel-v commented on #7
Done. Will be uploaded shortly on [this channel](https://www.youtube.com/channel/UCm0BWF4LhS7FF12HllwWXLw).

[2017-07-31 11:55] #7 closed

[2017-08-08 11:46] alsegno commented on #8
I don't think we want each top level folder to be a hoover collection, maybe we want a /hoover/ folder at the top level so that davros is still usable for casual filesharing?

[2017-08-08 11:48] alsegno commented on #48
I think our first iteration of this is going to pull the config file from the boot partition on the SD card. That still leaves us some work to do to get the configuration file read, parsed, and used.

[2017-08-08 11:49] alsegno commented on #48
@gabriel-v can you confirm that this config file parsing is under the scope of #2?

[2017-08-08 11:54] alsegno opened #54 "x86 davros docker image creation"
We still don't have a clean repeatable process for creating x86 davros docker images.

@nightsh is going to start work on this in earnest on the 15th.

Maybe start in a virgin Vagrant box or something and collaborate with me if you run into any problems.

[2017-08-08 12:39] alsegno opened #55 "boot partition config parsing/actions into master"
Gabi to get our current demo config file processing stuff into master.

[2017-08-08 12:44] alsegno opened #56 "Base Network Config Tool"
catch-all issue for configuration wizard UI

[2017-08-08 12:44] alsegno opened #57 "Admin UI"
catch-all issue for admin UI work

[2017-08-09 09:33] alsegno commented on #8
This is to be delivered mid-September by @mgax

[2017-08-09 09:35] alsegno commented on #56
This is a component of #57

[2017-08-09 09:36] alsegno commented on #8
@mgax Please help me understand what you plan to deliver for mid-September -- does this include any modifications to Davros (dockerization, authorization, &c.?), or is this only liquid system stuff?

[2017-08-09 09:39] alsegno commented on #55
Equivalent to #53, closing.

[2017-08-09 09:39] #55 closed

[2017-08-09 09:40] alsegno commented on #15
@mgax this requires no action from you until they have finished their part. I'm going to keep it in 'in progress' state though so that it receives appropriate attention.

[2017-08-09 09:41] alsegno commented on #29
I'll do some research on this and put together a little paper.

[2017-08-09 10:33] alsegno commented on #20
do you have an update on this?

[2017-08-10 07:43] mrc-toader commented on #20
Yes, it works and I made a wiki with the manual build process and deps fixing. I'll start dockerizing it next week.

[2017-08-10 08:33] alsegno commented on #20
Can you link to the wiki here?

[2017-08-10 08:34] mgax commented on #8
For this issue, I'll add hoover support for indexing a collection from the filesystem. The process is currently manual and involved; it needs to be automated. And we don't have to index all top-level collections - there could be a page, in hoover or liquid-core, with a list of top-level folders, and a button for each folder, "make a hoover collection".

There is still remaining work for davros doc

[2017-08-10 08:39] alsegno commented on #8
Is #22 covered under this as well?

[2017-08-10 08:42] mgax commented on #8
Yes, this ticket depends on #22.

[2017-08-10 10:10] mrc-toader commented on #20
Yes. Here it is. This issue can be closed. We'll talk about the next parts on thursday, when I'll be available full time.
http://sentre.de:6080/grain/D8Dx2H6bf4DWFkMwjhET2a/software/hackmd

[2017-08-10 15:26] alsegno commented on #20
Perfect. Next time, feel free to close it yourself. See you Thursday.

[2017-08-10 15:26] #20 closed

[2017-08-17 11:55] alsegno opened #58 "Initial wireframes for config/admin UI"
@nightsh please update here when you've decided what format these will be in.

[2017-08-19 15:57] alsegno opened #59 "x86 nightly build broken"
I've tried both the vagrant box and the .img, and I run into the same problem.

I use the vagrant box as-is with a dead-simple Vagrantfile. It hangs on boot.

With the .img I have tried converting to both .vdi and .vmdk and they hang on boot when I try to boot the image in virtualbox.

The culprit seems to be bad geometry on the image:

'block count x exceeds size y of device'

This is an urgent i

[2017-08-19 16:03] alsegno commented on #58
Relates to 57, 56

[2017-08-19 17:20] alsegno opened #60 "Odroid C2 nightly build broken"
I have downloaded an appropriate BIOS file and I'm trying to run the nightly build on my local machine in qemu:

[code]
This seems to do nothing.

[2017-08-19 17:20] alsegno commented on #60
If you know you're not going to work on this issue please remove yourself as an assignee.

[2017-08-19 17:20] alsegno commented on #59
If you know you're not going to work on this issue please remove yourself as an assignee.

[2017-08-19 17:21] alsegno opened #61 "no xu4 nightly builds are being produced"

[2017-08-19 17:30] alsegno opened #62 "demo server to be deployed from cloud image"
Currently, the demo server is being built/maintained by hand. It should be running from one of our nightly images.

If you're not going to work on this issue, please remove yourself from the asignees list.

[2017-08-19 17:31] alsegno commented on #14
If someone can get #59 resolved then I can start playing with this. I've done openVPN setups before.

[2017-08-21 10:41] alsegno commented on #39
As we didn't complete 'continuous deployment' for Q2, I'd like to see it done early in Q3. This doesn't have to be automatic nightly deployment, but should allow us to run a script that deploys a nightly x86 build of our choosing to the demo box.

Demo box config and data (hoover data/users) should be persisted when we do this. This may require some discussion.

I'd like to see this so that we don

[2017-08-21 10:43] alsegno commented on #28
Mircea - is this something that you can do? We have the board in the office right now and we could start playing with it.

As nightly builds are broken, I don't think we're ready to just drop an image onto this box, but maybe starting with a fresh Ubuntu install and running ansible is a good start, to see what's (un)supported out of the box?

When are you around to start looking at stuff like this

[2017-08-21 10:44] alsegno commented on #23
This encompasses #22 and #8

[2017-08-21 10:57] alsegno commented on #48
Confirming that this should pull config from the boot partition of the SD card first time around. We don't need it to come from the USB stick until after we can prove this.

Config file scenarios are defined here: https://github.com/liquidinvestigations/liquidinvestigations/wiki/7.-User-Scenarios

Sample config file (comprehensive) is defined here:
https://github.com/liquidinvestigations/liquidinv

[2017-08-21 10:58] alsegno commented on #2
This all lives in #48 now. If I've got this wrong, please let me know and we can reopen/reframe this issue.

[2017-08-21 10:58] #2 closed

[2017-08-21 10:59] alsegno opened #63 "Config file from USB stick"
Once #48 is complete, we should do the necessary work to get the config file from the USB stick.

[2017-08-21 11:00] alsegno commented on #17
This is really low priority and I'm going to move it to Q4 unless it becomes really obvious/easy to do as part of Q3

[2017-08-21 11:01] mrc-toader commented on #28
Yes, I'll poke at it and see if it works or/how dies. I can come starting tomorrow.

[2017-08-21 11:24] alsegno opened #64 "OpenVPN scenarios in section 7"
Section 7 of the architecture doc needs to be updated with OpenVPN scenarios.

[2017-08-21 11:26] alsegno opened #65 "Requirements definition - OpenVPN Config"
We need to have a design meeting discussing how the Config File/Admin UI/Config Wizard will implement OpenVPN config.

Work on the Admin UI/Config Wizard can start before this, but this must be nailed down for mid September at the latest

[2017-08-21 11:26] alsegno commented on #65
Relates directly to #14

[2017-08-21 11:31] alsegno commented on #29
I don't think this needs a paper, or needs to be an open issue. This is basically not the right fit for what we're doing.

Ansible currently works against Ubuntu, which is one of the distros that ARMbian provides. The other that they provide is Debian, and depending on the boxes we want to support, we can make ansible work against that.

It's not a priority right now to target both -- best to buil

[2017-08-21 11:31] #29 closed

[2017-08-21 11:31] alsegno commented on #53
This is part of #48

[2017-08-21 11:42] alsegno commented on #62
This duplicates #39

[2017-08-21 11:42] #62 closed

[2017-08-21 12:31] alsegno opened #66 "Whitelisting for zeroconf"
board admins to whitelist other nodes after they are discovered

[2017-08-21 12:42] alsegno commented on #48
This python library may be of some help with network config: http://docs.pyroute2.org/general.html

[2017-08-22 10:01] alsegno opened #67 "backup/export"
system must support backup/export

[2017-08-23 00:12] dreamlayers commented on #59
From `fdisk`, this is obviously wrong, as if the partition has not been resized.
[code]

[2017-08-23 00:43] dreamlayers commented on #59
The partition resizing issue should be fixed in https://github.com/liquidinvestigations/setup/commit/8dac2b909a7b4b53a06585f4789b4aed20d9e0be

[2017-08-23 00:49] dreamlayers commented on #60
The same partition resizing issue affecting the x86 build would be affecting the c2 build. Fix has been pushed to setup. For more info see https://github.com/liquidinvestigations/liquidinvestigations/issues/59#issuecomment-324185370

[2017-08-23 00:54] dreamlayers commented on #61
`TASK [hoover : Run hoover initial setup]` fails because `/usr/bin/env: 'node': No such file or directory`.

[2017-08-23 07:02] alsegno commented on #59
@all how did this end up in master without anyone noticing that it broke all our nightly builds?

[2017-08-23 11:11] gabriel-v commented on #61
A first issue is that we're running a `aarch64` VM to produce a `armv7l` image for the XU4. The ansible task for node uses the VM's architecture with `ansible_arachitecture`, not our intended target architecture, as is seen [here](https://github.com/liquidinvestigations/setup/blob/master/ansible/roles/node6/tasks/main.yml#L42).

So I think we either should make buildbot run a `armv7l` VM for build

[2017-08-23 11:36] alsegno commented on #59
ok, this is fixed and i verified it.

[2017-08-23 11:36] #59 closed

[2017-08-23 11:49] gabriel-v commented on #59
@alsegno You know how that happend. The python port of those scripts wasn't tested. We could
- require 1 or 2 reviews before merging into master
- set up CI (jenkins?) that must pass before we merge into master

Jenkins might be nice, because we can set up slave machines on different architectures that would build our images.

[2017-08-23 11:59] alsegno commented on #60
I think there's something wrong with my command line but I'm not sure what. Gabi/Boris have you been able to make this work with qemu?

[2017-08-23 12:01] alsegno commented on #61
@gabriel-v What's the effort involved for each?

[2017-08-23 12:05] alsegno commented on #59
A simple manual check (does it boot?) before merging would have caught this one, but yes, a CI system would be ideal. Maybe this week.

[2017-08-23 12:07] alsegno opened #68 "Continuous Integration"
Set up Jenkins + some sanity checks.

[2017-08-23 12:11] gabriel-v commented on #61
I'd go with making the buildbot create an `armv7` vm, to avoid any similar issues in the future.
We'd need to plug in the `armv7l` version of Ubuntu Cloud for the VM and find a suitable BIOS image. I estimate a day or two of my time, because I didn't work on buildbot or with the different qemu binaries that much.

[2017-08-23 12:13] gabriel-v commented on #60
I tried your command line yesterday with both yesterday's nightly and the q2 exit image. Both go into the UEFI BIOS command line. The q2 exit image is known to boot properly on the C2, so the problem is either with the command line or with the UEFI BIOS image.

[2017-08-23 13:30] alsegno commented on #60
Yeah, probably my mistake. I'll try it on a real c2 tomorrow.

[2017-08-23 14:34] alsegno opened #69 "Security Disclaimers"
Overall system review, disclaimers to be published in wiki

[2017-08-23 14:37] alsegno commented on #61
Does this help us build for rock64 as well?

[2017-08-23 15:16] gabriel-v commented on #61
No. The rock64 has the same CPU as the c2.

[2017-08-24 08:49] alsegno opened #70 "liquid-core facelift"
Improve navigation and UI integration between apps (dashboard).

[2017-08-24 09:02] alsegno opened #71 "Integrate hackmd cloud/arm"

[2017-08-24 09:54] gabriel-v commented on #60
Here's how buildbot actually runs qemu for emulating aarch64:

    /usr/bin/qemu-system-aarch64 -M virt -nographic -m 512 -netdev user,id=user,net=192.168.1.0/24,hostname=vm-aarch64,hostfwd=tcp::30955-:22 -device virtio-net-pci,netdev=user -bios ./images/arm-bios.fd -device virtio-blk-device,drive=image -drive if=none,id=image,snapshot=on,file=./images/disk.img -fsdev local,id=fsdev0,security_mode

[2017-08-24 11:28] alsegno commented on #58
first review of this looks great. here's some details of what we'd like to see before the UI vendor negotiations start in earnest, Victor - when is it possible to have this?

https://workflowy.com/s/B__W.BFiX4jDsdi

[2017-08-24 11:47] alsegno commented on #39
first step is to merge demo branch into master, then move into scripting the setup of a booted image for 'real world' use.

this will include https & other stuff.

[2017-08-24 11:48] alsegno commented on #65
first step is to update ansible to install openvpn, then start by creating some basic configs, scripting creation of client keys &c.

[2017-08-24 11:49] alsegno opened #72 "Document API spec for admin UI"
includes user management, discovery whitelist, service enable/disable, networking &c.

to be documented in apiary.io

[2017-08-24 11:50] alsegno commented on #66
depends #72

[2017-08-24 11:52] alsegno commented on #65
duplicate(ish) of #14, closing

[2017-08-24 11:52] #65 closed

[2017-08-24 11:55] alsegno commented on #48
There is code for this, which needs to be merged into master in setup repo.

[2017-08-24 11:59] alsegno commented on #53
This is a duplicate of #48 :)

[2017-08-24 11:59] #53 closed

[2017-08-24 12:02] alsegno commented on #52
No longer relevant. We will test something *like* this when we have SSO.

[2017-08-24 12:02] #52 closed

[2017-08-24 12:05] alsegno commented on #16
This will be covered in #69

[2017-08-24 12:05] #16 closed

[2017-08-24 12:22] alsegno opened #73 "Cloud server deployment scripts"
Builds on the work of #39 to make a admin-friendly installation script (or set of scripts) to set up a cloud instance of liquid.

[2017-08-24 12:59] alsegno commented on #70
This will include some discussion of patching the front pages of the various apps.

[2017-08-25 16:27] gabriel-v commented on #60
The latest 25/08/2017 nightly boots on the Odroid C2. We won't be able to boot the nightly with the above command line, because the nightly image has a custom `/boot` partition for the Odroid C2 which does not work with qemu.

[2017-08-25 16:27] #60 closed

[2017-08-27 12:22] alsegno opened #74 "HDD Encryption via USB key"
HDD to be encrypted using a key stored on a USB thumb drive.

[2017-08-27 12:33] alsegno opened #75 "Shared users/SSO for all applications"
Shared users (minimally) or SSO (via OAuth) to be implemented for all bundled applications.

[2017-08-27 12:37] alsegno commented on #71
see investigation here: http://sentre.de:6080/grain/D8Dx2H6bf4DWFkMwjhET2a/software/hackmd

[2017-08-27 12:38] alsegno commented on #71
@mrc-toader can you please take the contents of the above link and transfer to the github wiki?

[2017-08-27 12:44] alsegno opened #76 "UAT testing plan to be created"
comprehensive test plan for UAT

[2017-08-27 12:57] alsegno opened #77 "Translations of documentation/i18n of UI"

[2017-08-28 08:42] alsegno opened #78 "move test/zeroconf out of setup/ repository"
test/zeroconf does not belong in the setup project. should be moved to live with the other discovery code

[2017-08-28 11:01] alsegno commented on #78
My bad this actually belongs here. Closing.

[2017-08-28 11:01] #78 closed

[2017-08-28 11:03] alsegno commented on #14
This should do it. We will need to include it as a git submodule and work out how to manage the config:

https://github.com/Stouts/Stouts.openvpn

[2017-08-28 15:44] alsegno commented on #57
see https://workflowy.com/s/B__W.BFiX4jDsdi

[2017-08-28 15:44] alsegno commented on #56
see https://workflowy.com/s/B__W.BFiX4jDsdi

[2017-08-28 15:44] alsegno commented on #70
see https://workflowy.com/s/B__W.BFiX4jDsdi

[2017-08-29 06:17] alsegno commented on #58
We're at the point where I've had two meetings already and didn't use the (incomplete) wireframes. Victor -- please hold off on doing this today while I review everything we have in the package for UI vendors.

[2017-08-29 07:05] alsegno commented on #58
This is no longer relevant. Closing.

[2017-08-29 07:05] #58 closed

[2017-08-29 07:20] alsegno commented on #14
It looks like we have a couple of options here, and they all seem to have their own special problems:

1. use tun only. this (apparently won't work)
2. use tap to bridge networks (this will end up layer 2 bridging both of the networks that we're connecting, and i think that's dangerous)
3. use an mDNS reflector/proxy on either end of the tun connection (some people have run into some problems with

[2017-08-29 07:33] alsegno commented on #14
From the avahi-daemon man page. My only concern is the 'ping pong' situation -- we need to be sure that the reflector doesn't identify the tunnel as a 'local interface'

[2017-08-29 07:49] #49 closed

[2017-08-29 09:25] alsegno opened #79 "Create test strategy documentation"

[2017-08-29 10:19] gabriel-v opened #80 "Reconfigure a live system via ansible"
Ansible has two relevant features: [tags](https://docs.ansible.com/ansible/latest/playbooks_tags.html) and [registered variables](https://docs.ansible.com/ansible/latest/playbooks_variables.html#registered-variables).

## [Tags](https://docs.ansible.com/ansible/latest/playbooks_tags.html)

Ansible tags let us only run tasks that are tagged with specific tags. Instead of running `ansible-playbook s

[2017-08-29 10:51] mrc-toader commented on #71
Ok, moved and updated scarcely, will re-test this on C2 and rock64 to try arm64 version of things (node, phantomjs, etc), since I've only done it on XU4.
Here's the url, not sure if placed properly, Gabi told me to put it here.
https://github.com/liquidinvestigations/liquidinvestigations/wiki/Hack.md-on-arm

[2017-08-29 11:26] gabriel-v opened #81 "Merge firewall script into setup"
On the demo machine under `/opt/ops/libexec/firewall` there's a script that calls `iptables` 20+ times. It should be merged into the master branch and/or configurable.

[2017-08-30 13:26] alsegno opened #82 "merge demo branch to master post q2 release"

[2017-08-30 13:29] gabriel-v commented on #82
See https://github.com/liquidinvestigations/setup/pull/25 for progress.

[2017-08-31 08:58] gabriel-v commented on #39
The setup `demo` branch pull request is here: https://github.com/liquidinvestigations/setup/pull/25.

After that is merged, we will need the internal infrastructure inventory to be finished, so we have a clear way to set up the demo VM with `virsh`, with a persistent disk that holds https certs & others.

[2017-08-31 09:39] gabriel-v opened #83 "Move all transient data to `/var/lib/liquid`"
Make the setup repo install all configuration files and data dirs into `/var/lib/liquid`.

This will be needed so the root partition works mounted as read only, with `/tmp` and `/var` mounted as writeable.

Some configuration files and data dirs work with symbolic links, and some don't.

Here's an incomplete list with what needs moving:

- hoover data and cache dirs
- hoover config files
- davros

[2017-08-31 09:43] gabriel-v opened #84 "Cleanup matrix shared users"
Somehow, only the `add user` hook for matrix is implemented. The `remove user` and `change password` hooks are missing.

[2017-08-31 09:44] gabriel-v commented on #75
Davros and Hoover will be set up with oauth when https://github.com/liquidinvestigations/setup/pull/25 is merged.

Hypothesis and dokuwiki have shared users working.

Matrix shared users need additional cleanup as per https://github.com/liquidinvestigations/liquidinvestigations/issues/84.

[2017-08-31 10:20] germakoci commented on #75
what about the integration of either Etherpad, or Hackmd into the bundle, including SSO ?

or maybe these guys ( https://github.com/xwiki-labs/cryptpad ) who seem to have a mix of both and more

[2017-08-31 12:30] gabriel-v opened #85 "Application users should be admins if `liquid-core` user is an admin"

[2017-08-31 12:31] gabriel-v commented on #85
Depends on #75.

[2017-08-31 12:39] gabriel-v opened #86 "Create random secret keys at first boot"
Currently, secret keys for the `liquid-core` and `discover` services are given through setup's `vars/config.yml`. They should be created in the first boot scripts.

The secret keys for `hoover` and `hypothesis` are already created at boot.

[2017-08-31 12:50] gabriel-v opened #87 "Move liquid-core database migration into the first boot scripts"
There are two tasks under `liquid-core/tasks/main.yml`: "Run migrations" and "Collect django static files". Those commands should move into a first boot script for `liquid-core`.

[2017-08-31 13:00] gabriel-v opened #88 "Disable dokuwiki warnings about newer software versions"
Dokuwiki lists all the hotfixes and newer versions on all pages. It looks [like this](https://i.imgur.com/eXbW0Zf.png).

Since the version of dokuwiki packaged with our images will never be the latest one, admin users shouldn't be punished with that bright yellow.

[2017-09-01 11:44] gabriel-v opened #89 "Script to create self-signed SSL certs for all services"
After https://github.com/liquidinvestigations/setup/pull/25 is merged, SSL will be supported by manually installing certificates into `/var/lib/liquid/https/certs` for all services.

Let's implement a script that generates self-signed certificates for all services.

[2017-09-01 13:22] mgax commented on #75
By the way, SSO is for Q4. But we do need shared users now.

[2017-09-04 10:47] mgax commented on #59
That's on me, I was sure I'd tested the code, but apparently it slipped. Sorry!

[2017-09-04 11:01] mgax opened #90 "Always run DNS server, configure resolv_conf to use it."
We should run a dnsmasq server at all times. It should minimally serve the domain names of the node and its apps, and point to an upstream server, as received from DHCP.

https://github.com/liquidinvestigations/setup/pull/25#pullrequestreview-60376527

[2017-09-04 11:16] mgax commented on #61
If this is just a hoover issue, we can switch to docker hoover. We're using armv7 docker images for all arm targets, so node will just work.

[2017-09-04 11:37] gabriel-v opened #91 "Move OAuth key generation into `liquid-core` management command"
Implement a management command on liquid-core that replaces the `ansible/roles/liquid-core/templates/libexec/create-oauth-application` script.

[2017-09-04 11:41] mgax commented on #88
I think the warnings are legit, and we should make it easy for admins to update their entire liquid image. Maybe we replace the warnings with our own warnings.

[2017-09-04 13:52] gabriel-v commented on #86
We will also need to create a secret key for `macaroon_secret_key` for matrix' `homeserver.yaml`.

[2017-09-04 13:56] gabriel-v opened #92 "Matrix TURN server for video&audio"
We could set up a TURN server for matrix [as instructed here](https://github.com/matrix-org/synapse#setting-up-a-turn-server).

[2017-09-04 14:00] gabriel-v opened #93 "Remove matrix identity servers from config"
There are some worrying segments of config variables in the `homeserver.yaml` file:

    trusted_third_party_id_servers:
         - matrix.org
         - vector.im
         - riot.im

    perspectives:
       servers:
         "matrix.org":
           verify_keys:
             "ed25519:auto":
               key: "Noi6WqcDj0QmPxCNQqgezwTlBKrfqehY1u2FyWP9uYw"

We will need to set up our own id serve

[2017-09-04 14:37] #82 closed

[2017-09-05 17:10] mgax opened #94 "Use dockerized hoover"

[2017-09-05 17:33] mgax opened #95 "Make builds go faster"
Setup takes a long time to run, both when building images, and when installing server mode. We need it to be faster.

* [ ] Dockerize everything.
* [ ] Make sure we build up-to-date docker images.

[2017-09-05 17:46] mgax opened #96 "set shell for liquid user"
The `liquid` system user is created without a shell entry in `/etc/passwd`.

[2017-09-05 18:02] mgax commented on #96
Fixed in https://github.com/liquidinvestigations/setup/commit/ab737e21c0a4e27177570a34640c8f513339b9e4

[2017-09-05 18:02] #96 closed

[2017-09-05 18:24] alsegno commented on #56
We made some really good progress this weekend. I met with the guys from pinkfox.ro and have started initial discussions refining the requirements.

Once we've nailed down the requirements, they will (most likely) make a formal commitment and then we can start work!

Fingers crossed.

[2017-09-05 18:24] alsegno commented on #57
We made some really good progress this weekend. I met with the guys from pinkfox.ro and have started initial discussions refining the requirements.

Once we've nailed down the requirements, they will (most likely) make a formal commitment and then we can start work!

Fingers crossed.

[2017-09-05 18:27] alsegno commented on #70
We made some really good progress this weekend. I met with the guys from pinkfox.ro and have started initial discussions refining the requirements.

Once we've nailed down the requirements, they will (most likely) make a formal commitment and then we can start work!

Fingers crossed.

[2017-09-05 18:28] alsegno commented on #70
Once the we finally nail down these requirements I'll turn them into a wiki page and get them into liquidinvestigations/liquidinvestigations on github. WIP here:

https://docs.google.com/document/d/1LCL-4z7_IMhr2hZj46R0LCRrAmhWHIGN3736hwEqm9M/edit?usp=sharing

[2017-09-05 18:28] alsegno commented on #56
Once the we finally nail down these requirements I'll turn them into a wiki page and get them into liquidinvestigations/liquidinvestigations on github. WIP here:

https://docs.google.com/document/d/1LCL-4z7_IMhr2hZj46R0LCRrAmhWHIGN3736hwEqm9M/edit?usp=sharing

[2017-09-05 18:29] alsegno commented on #57
Once the we finally nail down these requirements I'll turn them into a wiki page and get them into liquidinvestigations/liquidinvestigations on github. WIP here:

https://docs.google.com/document/d/1LCL-4z7_IMhr2hZj46R0LCRrAmhWHIGN3736hwEqm9M/edit?usp=sharing

[2017-09-06 10:53] #81 closed

[2017-09-06 10:53] #91 closed

[2017-09-06 13:41] germakoci commented on #23
don't forget some mock-ups are done for some of the features, and uploaded:
- some here https://github.com/hoover/design/tree/master/v2 and here https://github.com/hoover/design/tree/master/v1
- and here for batch search https://github.com/hoover/design/tree/master/v3-batch-search

[2017-09-06 19:42] mgax commented on #39
I managed to boot the latest nightly in qemu, connect to the screen with vnc, and log in as the liquid user.

To enable qemu's VNC server, add this to the command line: `-display vnc=localhost:5`, then connect to localhost port 5905 with a vnc client.

The default SSH server is broken. There are no server private keys. Running `dpkg-reconfigure openssh-server` will generate them. Also, [this code]

[2017-09-07 11:03] alsegno opened #97 "clean up diagrams to reflect multi-wifi config"
At @mgax suggestion we will have two wifi interfaces on all boards. One will always act as a hotspot (for both config & primary node), the other will be used as-needed as a secondary node wifi client or a general wan client.

see: https://github.com/liquidinvestigations/liquidinvestigations/blob/master/sample_configs/sample_config.yml

[2017-09-07 14:53] gabriel-v opened #99 "Create vagrant boxes for the libvirt provider"
[This plugin](https://github.com/vagrant-libvirt/vagrant-libvirt) integrates libvirt as a backend for vagrant.

Implementing this will let us use more powerful linux boxes for development.

To make it work with our images, we would need to obtain a `qcow2` image and use [this script](https://github.com/vagrant-libvirt/vagrant-libvirt/blob/master/tools/create_box.sh) to create the box. We will also

[2017-09-07 16:36] gabriel-v opened #100 "Boot system off a read-only filesystem"
In this stage, the system will have `/` mounted read-only, with all writes being done in `tmpfs`.

This is the pre-first boot stage when the user gets asked needed configuration questions like instance name and admin user login data.

[2017-09-07 16:46] gabriel-v opened #101 "Stage 2: Persist some directories on external disk"
Implement scripts that take an external disk, set it up with luks and then persist changes to some directories (`/var`, maybe parts of `/etc`) to that disk.

Rest of the image is read-only (or mounted as `/tmpfs`).

[2017-09-07 16:49] #87 closed

[2017-09-08 05:08] alsegno opened #102 "Multi-wifi automated testing"
Per our discussion yesterday, we would like to simplify the overall configuration of our system by always having two wifi cards.

It looks relatively simple to do a PoC of these configurations by using emulated cards via:

https://wireless.wiki.kernel.org/en/users/drivers/mac80211_hwsim

This will allow us to write automated tests of our wireless functionality, too, which is a huge win.

Alex, do

[2017-09-08 05:10] alsegno commented on #72
Here's a draft API spec:

http://docs.liquidinvestigations.apiary.io/#

This will be refined as we work with the UI team.

[2017-09-08 05:16] alsegno commented on #97
I think we all have a pretty good idea of what this will entail, but maybe at Monday's tech team meeting we can draw a couple of scenarios on the whiteboard to make sure we're all on the same page.

[2017-09-08 05:16] alsegno commented on #28
Any progress on this?

[2017-09-08 10:40] mgax commented on #102
`mac80211_hwsim` - that's so cool. But I'm concerned it will take a lot of effort to automate these tests.

[2017-09-08 11:23] alsegno commented on #99
[code]

[2017-09-08 11:24] alsegno commented on #99
@gabriel-v did you make this work?

[2017-09-08 11:32] alsegno commented on #99
my bad -- it should have been

[code]

[2017-09-08 11:57] alsegno commented on #99
Now I get this:
[code]

[2017-09-08 12:25] alsegno commented on #99
I had to edit the /etc/libvirt/qemu/networks/vagrant-libvirt.xml and remove the reference to the (already existing) bridge network there. This seems to have solved *that* error.

(I'm not sure if there's a way to override this systemwide setting in the Vagrantfile.)

[2017-09-08 12:37] alsegno commented on #99
I also had to edit the systemwide libvirt configuration for the dhcp private network. at this point it just hangs forever waiting for the domain to get an IP address.

[2017-09-08 12:50] gabriel-v commented on #86
Here's what ` grep -r secret_key .` said:

    ./ansible/roles/liquid-core/templates/local.py:SECRET_KEY = '{{ liquid_core_secret_key }}'
    ./ansible/roles/matrix/templates/homeserver.yaml:macaroon_secret_key: "-- secret key goes here --"
    ./ansible/roles/davros/templates/authproxy/config/secret.py:SECRET_KEY = "{{ davros_authproxy_secret_key }}"
    ./ansible/roles/discover/templates/local.p

[2017-09-08 12:52] gabriel-v commented on #99
@alsegno I didn't get past the first `error creating bridge interface virbr1: File exists.`

Retask this to you if you feel like going on with it

[2017-09-08 16:40] mgax commented on #39
Today I found @gabriel-v's notes about setting up the demo server. I'm hacking together a buildbot script (https://github.com/liquidinvestigations/setup/compare/demoserver) that takes a nightly image and turns it into a demo server image. So far it:

* creates a swapfile
* fixes sshd
* configures passwordless sudo for liquid
* configures the `ens3` network interface
* installs ansible and the `set

[2017-09-11 10:55] #72 closed

[2017-09-11 11:26] mgax commented on #99
@alsegno and @gabriel-v say this is a lost cause, and it makes no sense to me.

[2017-09-11 11:26] #99 closed

[2017-09-11 11:35] mgax opened #103 "Build process for up-to-date docker images"

[2017-09-11 11:47] mgax commented on #92
Closed as "nice to have"

[2017-09-11 11:47] #92 closed

[2017-09-11 11:51] mgax opened #104 "System-wide updates without data loss"

[2017-09-11 11:52] mgax commented on #88
Created https://github.com/liquidinvestigations/liquidinvestigations/issues/104 for general updates; we should remove dokuwiki's warnings for now.

[2017-09-11 11:54] mgax commented on #77
Closing as "nice to have".

[2017-09-11 11:54] #77 closed

[2017-09-11 11:58] mgax opened #105 "Multi-WiFi implementation"

[2017-09-11 11:59] mgax commented on #45
Closing in favour of #105.

[2017-09-11 11:59] #45 closed

[2017-09-11 12:01] mgax commented on #54
This happened as part of the Q2 mad rush to deliver.

[2017-09-11 12:01] #54 closed

[2017-09-11 12:09] mgax commented on #51
Closing in favour of #30.

[2017-09-11 12:09] #51 closed

[2017-09-11 12:10] mgax commented on #40
We already have #30, closing this.

[2017-09-11 12:10] #40 closed

[2017-09-11 12:12] mgax commented on #47
Is this properly scoped in the Liquid Investigations project or should this live as an issue on the Hoover project. @germakoci ??

[2017-09-11 12:12] mgax commented on #43
Is this properly scoped in the Liquid Investigations project or should this live as an issue on the Hoover project. @germakoci ??

[2017-09-11 12:14] mgax commented on #11
To be documented in #79.

[2017-09-11 12:15] mgax commented on #23
Those issues should happen on the hoover repos.

[2017-09-11 13:42] gabriel-v commented on #86
See https://github.com/liquidinvestigations/setup/pull/30 and https://github.com/liquidinvestigations/discover/pull/5 for progress.

Remaining work: properly handle matrix configuration

[2017-09-11 13:44] mgax commented on #97
Boris mentioned `systemd-networkd`, a replacement for `/etc/network/*` configuration: https://wiki.archlinux.org/index.php/systemd-networkd. It can do interface renaming based on rules (e.g. mac address) and then configuration.

[2017-09-11 14:12] alsegno commented on #93
I was going to mention sydent, which is linked in the above explanation, but this caught my eye instead:

Does this mean there is a chance that we can just not bother using *any* identity server?

[2017-09-11 15:00] gabriel-v commented on #93
Then we kill them all

[2017-09-11 15:07] alsegno commented on #93
Kill all what, exactly?

[2017-09-11 15:13] mgax commented on #93
What @gabriel-v means is he wants to kill lines [here](https://github.com/liquidinvestigations/setup/blob/master/ansible/roles/matrix/templates/homeserver.yaml#L199-L201) and [here](https://github.com/liquidinvestigations/setup/blob/master/ansible/roles/matrix/templates/homeserver.yaml#L253-L256) so our node doesn't federate with anything.

[2017-09-11 15:14] alsegno commented on #93
Very good. Fingers crossed this solves our problem, at least until we're ready for a feature issue that adds matrix federation or something.

[2017-09-11 16:07] mgax opened #106 "Hypothesis error page"
This is what Hypothesis returns for a `500` error.

<img width="819" alt="screen shot 2017-09-11 at 19 06 05" src="https://user-images.githubusercontent.com/27617/30284789-998366d2-9724-11e7-9630-e2c29a02c44e.png">

[2017-09-12 10:49] mgax commented on #15
I [pinged their mailing list](https://groups.google.com/a/list.hypothes.is/d/msg/dev/X189Sgj7o40/1Ssy3MqREgAJ) a week ago but haven't heard back.

[2017-09-12 11:54] mgax opened #107 "oauth "admin" flag"
Ansible creates an admin _liquid_ user in `liquid-core`. When this user logs into hoover, it gets created as a normal user. Hoover should pick up the "admin" status from `liquid-core`.

[2017-09-12 12:18] gabriel-v commented on #86
Somehow, when simplifying the matrix configuration, I fixed #93

[2017-09-12 12:29] gabriel-v commented on #93
Seems these could be removed without problems.

[2017-09-12 13:09] mgax opened #108 "Move boot scripts from /etc/rc.local"
We have a few scrips in `/etc/rc.local` to run at boot. They should be moved to a new `boot` hook.

[2017-09-12 13:52] #93 closed

[2017-09-12 13:52] #86 closed

[2017-09-13 12:58] mgax commented on #39
The PR https://github.com/liquidinvestigations/setup/pull/34 is merged. It does most of the setup for the demo server. It still needs https (https://github.com/liquidinvestigations/setup/issues/38) and some automation to get it into production.

[2017-09-13 13:22] germakoci commented on #47
ideally yes, should be Liquid stuff

[2017-09-13 13:22] germakoci commented on #43
yes, for sure, needs to be delivered with the Liquid project

[2017-09-13 13:23] germakoci commented on #23
I agree, sure; but some of these should be part of the liquid project and delivered during the liquid project

[2017-09-13 14:13] mgax opened #109 "image compression"
Currently we compress nightly images with `xz`, which gives a good compression ratio, but it takes a long time. We should benchmark compression time and ratio with a few options:

* `xz`
* `xz -1`
* `gzip`
* `gzip -1`

[2017-09-13 14:45] #90 closed

[2017-09-14 12:18] gabriel-v opened #110 "Investigate errors when importing hoover testdata"
See [this stacktrace](https://gist.github.com/gabriel-v/6fe0e5f744f9e64f9807e0a491ab91cd) for details.
To reproduce, run hoover's `initialize` script on a fresh system.

Don't know what document causes the error. Rest of the documents work fine.

[2017-09-14 12:34] mgax opened #111 "Scripts to deploy demo server"
After we have [https](https://github.com/liquidinvestigations/setup/issues/38) in the demo images, we should use [these scripts](https://github.com/liquidinvestigations/liquidinvestigations/issues/39) to build demo server images, and deploy them on `liquiddemo.org`.

[2017-09-14 12:36] mgax commented on #39
Done; next step is https://github.com/liquidinvestigations/liquidinvestigations/issues/111.

[2017-09-14 12:36] #39 closed

[2017-09-14 19:12] gabriel-v opened #112 "document API endpoint for wizard first page"
Document an endpoint that takes `username`, `password` and `domain` as POST

[2017-09-14 19:34] gabriel-v opened #113 "more API response examples for the network API"
Go through multiple scenarios, with attached json responses in the API documentation.

[2017-09-15 07:57] #84 closed

[2017-09-15 08:58] alsegno commented on #47
per discussion with @germakoci moving to q4, open, backlog

[2017-09-15 08:59] alsegno commented on #43
per discussion with @germakoci moving to q4, open, backlog

[2017-09-15 09:03] alsegno commented on #23
per discussion with @germakoci moved to q4, backlog

[2017-09-15 09:34] #108 closed

[2017-09-15 10:34] gabriel-v commented on #112
closed by https://github.com/liquidinvestigations/docs/commit/2898b1c66066f5857372e022c9f600e66414f146

[2017-09-15 10:34] #112 closed

[2017-09-15 10:34] gabriel-v commented on #113
closed by https://github.com/liquidinvestigations/docs/commit/2898b1c66066f5857372e022c9f600e66414f146

[2017-09-15 10:34] #113 closed

[2017-09-15 10:47] gabriel-v commented on #109
`xz -1` generates a `1.6G` image instead of the `1.3G` for `xz`. I  don't have any other numbers, but I think `-1` is satisfactory.

[2017-09-15 10:47] #109 closed

[2017-09-15 12:49] gabriel-v opened #114 "Backend implementation for API endpoints"
Catch-all issue for implementing the API endpoints for:
- network configuration
- initial username/password/domain
- discovery: listing, whitelisting
- status pages

[2017-09-19 16:53] gabriel-v commented on #68
We have Jenkins set up at https://88.99.150.33:8443/blue. Will follow up with an actual domain name.

I still have to write a jenkins stage that boots the resulted image with kitchen, waits for it to finish the first boot process, then archives the resulting log files for that boot process (and/or marks the build as failed/succeeded)

[2017-09-19 17:01] gabriel-v opened #115 "Buildbot to run VM from arbitrary disk image"

[2017-09-20 18:52] gabriel-v opened #116 "Unify buildbot scripts"
Right now, buildbot has two scripts. After making buildbot take the platform as an argument, there's some duplicate functionality in `buildbot` and `prepare_cloud_image.py`.

Let's turn `prepare_cloud_image.py` into `buildbot download`.

[2017-09-20 19:14] gabriel-v opened #117 "Run arm64 VMs from the Odroid C2 disk image"
This is needed to run tests in a VM on the image that resulted from the build process.

[2017-09-21 09:44] gabriel-v commented on #68
Done.

[2017-09-21 09:44] #68 closed

[2017-09-21 09:44] gabriel-v commented on #115
Done.

[2017-09-21 09:44] #115 closed

[2017-09-21 10:04] gabriel-v commented on #114
depends liquidinvestigations/discover#3 and #66

[2017-09-25 13:20] gabriel-v opened #118 "Document field validation in api blueprint"
We need a list of regexes that validate all fields in the API blueprint.

[2017-09-25 13:20] gabriel-v opened #119 "Document API error responses"

[2017-09-25 13:24] gabriel-v opened #120 "Deprecated ansible features"
Ansible complains about these issues with our `setup` repo:

       [DEPRECATION WARNING]: [defaults]hostfile option, The key is misleading as it
       can also be a list of hosts, a directory or a list of paths . This feature will
        be removed in version 2.8. Deprecation warnings can be disabled by setting
       deprecation_warnings=False in ansible.cfg.
       [DEPRECATION WARNING]: The

[2017-09-25 14:00] gabriel-v commented on #114
django-rest-framework ?

[2017-09-25 14:14] gabriel-v opened #121 "jenkins domain name & https"
jenkins.liquiddemo.org?

[2017-09-25 14:17] gabriel-v commented on #28
The rock64 works as a build slave for building C2 images.

[2017-09-25 14:25] gabriel-v commented on #75
We do have shared users working on the current master branch.

[2017-09-25 14:25] #75 closed

[2017-09-25 14:25] gabriel-v opened #122 "Sigle sign-on"
We can use the oauth reverse proxy (like we do authentication in Davrso now) for most apps. Matrix probably needs something different.

[2017-09-26 10:01] alsegno commented on #121
what does the 'good first issue' label mean? :)

[2017-09-26 10:01] gabriel-v commented on #121
well he has to start by doing *something*, right?

[2017-09-26 10:03] alsegno commented on #121
:D

[2017-09-26 10:09] mgax commented on #121
Yeah I think the label was meant for me. He even assigned the card and moved it to "in progress".

[2017-09-26 10:14] mgax commented on #121
There. I configured the names `jenkins` and `*.jenkins`.

[code]

We should reconfigure the server to listen on port 443, maybe put an nginx reverse proxy in front of tomcat.

[2017-09-26 10:34] mgax commented on #11
Reopening the issue because #79 is about feature testing. We need some simple benchmarks, e.g. pick a few relevant datasets, measure indexing time, search time, and disk usage, for different hardware targets (odroid c2, rock64, intel nuc, and some cloud vps provider). We also need to document memory requiremens when all aps are running on a node. I don't think that number of users is relevant as a

[2017-09-26 10:41] mgax commented on #101
Pushing up the priority. We can have minimal support to mount a usb hard drive at boot, based on its UUID, and store app data on it. The root volume can stay read-write.

[2017-09-26 10:52] mgax commented on #15
Here's an [update from Hypothesis](https://groups.google.com/a/list.hypothes.is/d/msgid/dev/7FE70FDC-1C90-4549-AB25-60BB0669E0C3%40hypothes.is) - they shipped popup login for the client.

[2017-09-26 11:16] gabriel-v commented on #120
fixed by:
- https://github.com/liquidinvestigations/buildbot/pull/7
- https://github.com/liquidinvestigations/setup/pull/46

[2017-09-26 11:55] mgax opened #123 "Research GSM modems"
A liquid node can function as wifi hotspot. Adding a modem will make it into a mobile internet access point. Let's see if we can pick an affordable, available USB modem that works well with Linux.

[2017-09-26 13:48] #120 closed

[2017-09-26 15:54] alsegno commented on #102
The basic tests are 'working' now but need some more documentation.

We have a python function now that will create a hostapd.conf file based on ssid, password, interface. This hostapd.conf contains a minimal set of options that we may want to expand.

We have a minimal wpa_supplicant.conf that just specifies ssid, password.

We have one test that sets up the emulated radios, starts the AP based o

[2017-09-27 06:51] mgax commented on #102
That's pretty sweet! Did you push the code anywhere? It would be nice to have this emulation stack functioning when we implement the hotspot/client configuration for a node. And, if we manage to write automated tests, we can run them in our shiny new Jenkins server.

[2017-09-27 09:00] alsegno commented on #102
Yeah, it's here:

https://github.com/liquidinvestigations/wifi-test

I need to spend some time writing an overall test strategy, cleaning up the README, documenting the python code for hostapd.conf creation, some stuff like that, so it's very much a WIP.

[2017-09-27 10:33] mgax opened #124 "End user documentation"
We need minimal end-user documentation to give to people along with our software. It should answer the following questions:

* [x] how to install from scratch using freshly purchased hardware
* [x] how to do basic configuration of network, users, apps
* [x] how to upload and index data
* [x] how to collaborate (chat, wiki, annotations)

[2017-09-28 16:02] gabriel-v commented on #121
Thanks guys, done.

[2017-09-28 16:02] #121 closed

[2017-09-28 21:33] mgax commented on #94
We're most of the way there. Dockerized hoover works on x64 with no problems, there's a pull request (https://github.com/liquidinvestigations/setup/pull/47).

For ARM, I made special docker images based on alpine, with some tweaks. They are in a new repo, [docker-arm](https://github.com/liquidinvestigations/docker-arm), that will contain scripts to build all our custom docker images. (https://gith

[2017-09-28 21:56] mgax commented on #116
Ok, but maybe call it something other than `download`, because it does so much more. It would produce a VM image that can be tarballed as an artifact and downloaded, much like a vagrant box. Actually https://github.com/liquidinvestigations/buildbot/pull/8 gets us closer to this goal.

So the flow would be:
* generate an image, `buildbot images provision` maybe? It would be nice to give it a custom

[2017-09-29 10:47] mgax opened #125 "Rename buildbot to factory"
Buildbot deserves a cool name and the name shall be `factory`.

* [x] Rename the repo
* [x] Update readme files and scripts
* [x] Update Jenkins

[2017-09-29 17:37] alsegno commented on #105
#102 is the test harness for this.

[2017-10-01 15:20] alsegno commented on #125
i'm sorry i caught this so late i'd have suggested 'fabrica' or 'atelier'.

[2017-10-02 10:58] mgax commented on #125
I've migrated (https://github.com/liquidinvestigations/setup/pull/48) the Jenkins setup from buildbot to the setup repo: https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/

Builds are currently failing because the ARM64 worker is not set up.

[2017-10-02 10:58] #125 closed

[2017-10-02 17:34] #116 closed

[2017-10-02 17:37] gabriel-v commented on #28
power jack fits without problems into sound jack. confusing

[2017-10-02 17:44] mgax commented on #28
this works:

![img_8688](https://user-images.githubusercontent.com/27617/31091079-72bc5c86-a7b2-11e7-9b52-f600526f0c44.jpg)

this does not:

![img_8689](https://user-images.githubusercontent.com/27617/31091091-76e51118-a7b2-11e7-9c5b-fbb54e67f602.jpg)

[2017-10-03 12:52] mrc-toader opened #126 "Find any wifi dongle that works in AP mode"
Edimax EW-7811Un / RTL8188cus with hostapd.

[2017-10-05 19:12] alsegno commented on #57
updated workflowy link: https://workflowy.com/s/B__W.jiyKpCpgMk

[2017-10-05 19:13] alsegno commented on #57
documenting errors in apiblueprint documentation: https://stackoverflow.com/questions/23927424/how-to-specify-error-codes-in-apiary-documentation

the correct answer here is correct.

[2017-10-06 13:52] gabriel-v commented on #114
okay, the endpoints are done. still need to:
- spec and implement user creation
- write tests for everything (testing config is done, thanks to alex)
- replace all the `#TODO` lines with log lines and create additional issues

[2017-10-09 11:23] alsegno opened #127 "clean up README for Davros fork"
it looks like the README here is just the original Davros readme.

we should clean this up to reflect the work we've done on the fork.

[2017-10-09 11:33] alsegno opened #128 "create AMIs alongside nightly images"
https://www.elastic.co/blog/create-an-ami-from-your-own-vm-image

[2017-10-09 13:26] alsegno opened #129 "liquiddemo.org links to the UI components not to liquid-core"
Is this right? If not, can we fix it? how should we fix it?

[2017-10-09 14:26] mgax opened #130 "Prove that the latest odroid c2 image functions correctly"

[2017-10-09 14:43] gabriel-v commented on #126
does not work

[2017-10-09 14:44] gabriel-v commented on #126
But tell us why it doesn't work, @mrc-toader
Including some creepypasta from the logs

[2017-10-09 14:49] gabriel-v commented on #103
closed by https://github.com/liquidinvestigations/docker-arm/pull/1, which also needs a jenkins file

[2017-10-09 14:51] gabriel-v commented on #102
blocked on API implementation #114

[2017-10-09 14:52] gabriel-v commented on #94
will close after alex completes manual testing

[2017-10-09 15:05] gabriel-v commented on #117
What this gets us is jenkins-driven tests that run against the nightly C2 image. We do not have these today.

[2017-10-09 15:12] gabriel-v commented on #117
Research into getting C2 bios files. If we don't find any, just cut off the bootloader partition.

[2017-10-09 15:15] gabriel-v commented on #118
done

[2017-10-09 15:15] #118 closed

[2017-10-09 15:15] gabriel-v commented on #119
these will be used as an input in https://github.com/apiaryio/dredd

[2017-10-09 15:18] gabriel-v commented on #80
Also: `notify`

[2017-10-09 15:20] gabriel-v commented on #80
This should also get notifications from the API endpoints from liquid-core.

[2017-10-09 15:37] gabriel-v opened #131 "lock admin page for concurrent changes"

[2017-10-09 15:44] gabriel-v commented on #129
we should bring back the liquid-core home page

[2017-10-09 15:48] gabriel-v commented on #127
In the application, link to davros, not our fork.

[2017-10-09 15:52] gabriel-v commented on #71
Let's install it directly in ansible and use `oauth-proxy.py` to tape it together.

[2017-10-09 15:55] gabriel-v commented on #61
unsupported.

[2017-10-09 15:55] #61 closed

[2017-10-09 15:58] gabriel-v commented on #28
this looks good in general; we need to produce run a recent nightly image on it

[2017-10-09 15:59] gabriel-v commented on #95
Covered by other issues; closing.

[2017-10-09 15:59] #95 closed

[2017-10-09 16:01] gabriel-v commented on #85
This now depends on #107

[2017-10-09 16:03] #127 closed

[2017-10-09 16:09] gabriel-v commented on #102
also blocked on #105

[2017-10-11 11:15] alsegno opened #132 "odroid c2: auto updates (apt daily activities) to be turned off on images"
At this stage we shouldn't be auto-updating the OS, it increases boot time and could potentially introduce instability to the system.

[2017-10-11 11:49] alsegno opened #133 "dokuwiki link is broken on C2"
when clicking through the dokuwiki.liquid.local link after a fresh nightly install on the C2 I can't get to dokuwiki.

[2017-10-11 11:52] alsegno opened #134 "odroid c2: duplicate entry in fstab causing warnings to console"
see: https://www.tapatalk.com/topic/63351-odroid-forum-hardkernel/27701-odroid-c2-minimal-image-issue-duplicate-entry-in-fstab

[2017-10-11 12:03] alsegno opened #135 "no admin user in C2 nightly build"
select * from auth_user in /opt/liquid-core/var/db.sqlite3 returns nothing

[2017-10-11 12:07] alsegno commented on #126
what about this?

https://askubuntu.com/questions/558893/recommended-usb-wifi-adapter-with-hotsopt-support

Is that in any way helpful?

[2017-10-11 12:09] alsegno commented on #126
I know this is focused on the RPi but maybe it's another good starting point? There's a column which says whether the adapter supports AP mode...

https://elinux.org/RPi_USB_Wi-Fi_Adapters#Working_USB_Wi-Fi_Adapters

[2017-10-11 12:12] alsegno commented on #126
https://help.ubuntu.com/community/WifiDocs/MasterMode#Purchasing_a_WiFi_adapter

[2017-10-11 12:14] alsegno opened #136 "hoover - show the testdata collection even if you're not logged in"
I'd like to see a demo dataset indexed & searchable from the nightly builds. is this a bad idea?

i'm thinking about it for presentation purposes, mostly, so we don't have an import/index step to go through if we are doing a 'light'/'elevator' demo.

[2017-10-11 12:18] germakoci commented on #136
there will be fresh data coming in there, so that can be used actually as an import/index demo; I won't have that data before

[2017-10-11 12:48] gabriel-v commented on #135
@alsegno try again with the next image: https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/job/master/28/

[2017-10-11 13:41] mgax commented on #94
I'm running into issues with oauth: `hoover-search` needs to make http requests to `liquid-core`, to get an authentication token. Since `hoover-search` runs inside a docker container, its `/etc/resolv_conf` is different from the host's, and it doesn't point to our dnsmasq. There are docker flags that might help fix the issue.

So, in order to merge the "hoover docker" feature, there is non-trivial

[2017-10-12 09:07] alsegno opened #137 "Create a qemu-bootable c2 image for testing"
The c2 images produced by jenkins for nightly builds include a boot partition that messes up qemu. (can't boot):

Disk: liquid-c2-raw.img	geometry: 1044/255/63 [16777216 sectors]
Signature: 0xAA55
         Starting       Ending
 #: id  cyl  hd sec -  cyl  hd sec [     start -       size]
------------------------------------------------------------------------
 1: 0C    0  32  33 -   16 113  33 [

[2017-10-12 09:18] mgax commented on #137
The boot partition exists in the [base image](https://github.com/liquidinvestigations/setup/blob/master/py/images/builders/odroid.py#L9-L10) that we use. The base image is created by the odroid vendor (we mirror it from [here](https://odroid.in/ubuntu_16.04lts/)).

[2017-10-12 09:44] alsegno opened #138 "ui.liquiddemo.org hangs on 'next'"
we can't get past the first page of the liquid ui on liquiddemo.org.

after setting the hostname/admin username/password, clicking next hangs forever

[2017-10-12 11:54] mgax commented on #138
First problem: the wizard is POSTing at `http://ui.liquiddemo.org/api/registration`. The URL should end with a slash, i.e. `http://ui.liquiddemo.org/api/registration/`.

Second problem, if you try the same thing on liquiddemo.org: the node is already configured, so the wizard is not allowed to save the initial settings.

[2017-10-12 11:56] mgax commented on #136
The testdata dataset is already indexed. We just need to make it visible.

[2017-10-12 11:59] mgax commented on #117
Closing as duplicate of #137.

[2017-10-12 11:59] #117 closed

[2017-10-12 12:07] mgax opened #139 "odroid c2 Jenkins build fails"
https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/job/master/30/execution/node/46/log/

cryptography? pypy?! wtf.

[2017-10-12 13:20] gabriel-v opened #140 "elasticsearch indexing timeout on first boot"
I'm getting this error when running first boot on cloud-x86:

[code]

[2017-10-12 13:58] gabriel-v commented on #139
can't even get that far again. everything is unstable. Will investigate again when we stop rearranging links around.

[2017-10-12 16:12] alsegno opened #141 "review aufs/overlay storage for docker"
Please take a look at this, it shouldn't take long:

https://sthbrx.github.io/blog/2015/10/30/docker-just-stop-using-aufs/

We're running into an issue with aufs kernel support on aarch64 (ubuntu cloud doesn't support it with the 4.4 kernel we're using...)

Any input you have is appreciated.

[2017-10-12 16:20] alsegno commented on #141
Aufs is not supported in kernel 4.x

https://askubuntu.com/questions/870889/cant-start-docker-on-ubuntu-16-04-with-driver-not-supported-error/870890

[2017-10-12 20:34] mgax opened #142 "First boot error with no app roles installed"
I'm running a minimal setup with most roles commented out (because hypothesis and hoover and matrix are so bloody huge). First boot ends with the following error (but, interestingly, it thinks it succeeded, because the `first_boot_done` file is there.

[code]

[2017-10-13 15:42] alsegno opened #143 "Jenkins build hanging"
It actually looks like everything is working, but we're hung. Anybody know why?

https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/job/master/35/console

[2017-10-14 08:31] alsegno opened #144 "ubuntu server 16.04 doesn't support WiFi on NUC out of the box"

[2017-10-14 08:32] alsegno opened #145 "liquid/liquid user not created by setup on NUC"

[2017-10-14 08:49] alsegno opened #146 "error when manually running 80-liquid-core-initial-user.sh"
console output
[code]

[2017-10-14 08:50] alsegno commented on #145
after running ansible with `devel: true`this is resolved.

[2017-10-14 08:50] #145 closed

[2017-10-14 08:52] alsegno opened #147 "502 bad gateway"
After running ansible with `devel: true`, creating the liquid user, and rebooting, now any access to http://liquid.local (at the correct ip) gives 'bad gateway.

[2017-10-14 08:53] alsegno commented on #147
This seems to be true for all of the different services, ie matrix.liquid.local gives this problem too.

[2017-10-14 08:53] alsegno commented on #147
tested from two different machines (me and @mrc-toader )

[2017-10-14 09:02] alsegno commented on #147
FYI running `/opt/common/initialize.sh` *appears* to start some things, and runs without error, but we are still getting a 502 when accessing `http://liquid.local`

@mgax or @gabriel-v should provide some support to @mrc-toader so that he can start manual testing on the NUC

[2017-10-14 09:04] alsegno commented on #147
NB: systemtl stop/start nginx doesn't have any effect here.

[2017-10-14 09:09] alsegno commented on #147
@mrc-toader found a solution. Please document here and close the issue, then continue with manual testing.

[2017-10-14 09:10] alsegno commented on #147
@mrc-toader these steps need to be documented in case we need to do this manually at the leipzig demo.

@mrc-toader Please create a document describing all of the above and put it somewhere.

[2017-10-14 09:15] alsegno opened #148 "need to be able to skip WAN config in wizard"
we have a use case where we don't want the node to connect to any 'upstream' network. the wizard doesn't support this.

wizard should have a prominent 'skip' button and API should support this

question: can we even *do* first boot without internet?

[2017-10-14 09:16] alsegno opened #149 "checkmarks still not centered in circles in config wizard"
self-explanatory

[2017-10-14 09:22] alsegno opened #150 "catch-all issue for copy/grammar/syntax/spelling"
There are a number of places that we might want to change the descriptions/copy for stuff in the UI. Let's use this issue so we don't forget to do this.

Will break into smaller issues as needed.

[2017-10-14 09:22] alsegno commented on #150
@andreiadam @m-nic please ask us for these if you don't hear from us within the next days.

[2017-10-14 09:23] mrc-toader commented on #147
Upon further reading, the official way to start the bundle is running `supervisorctl start all`, can be used with `status` as well.

[2017-10-14 09:25] alsegno opened #151 "Admin UI: describe "general status" endpoints on apiary"
see http://ui.liquiddemo.org/#/admin/status

we just get a literal `{}` as the status.

Is this a problem with the apiary docs or with something else?

[2017-10-14 09:27] alsegno opened #152 "admin panel WAN configuration should default to DHCP"
currently defaults to static WAN config:

http://ui.liquiddemo.org/#/admin/network/wan

maybe this is just an artifact of using the apiary mock server

[2017-10-14 09:28] alsegno opened #153 "admin panel SSH configuration defaults to SSH on"
should default to SSH off

http://ui.liquiddemo.org/#/admin/network/ssh

this could be an artifact of using the mock server

[2017-10-14 09:32] alsegno opened #154 "Admin UI: discovery showing unformatted timestamps"
'Discovery Interface' always shows 'interface_name'.

'Last Seen' always shows 'date in ISO format'.

This is probably an artifact of using the mock server.

[2017-10-14 09:33] alsegno opened #155 "Admin UI: Need to add a 'contact'/'about' page"
We need some way of telling people how to contact us in case of problems. Should live under 'Discovery' I guess as 'help' or 'contact' or something sensible

[2017-10-14 09:36] alsegno commented on #155
see #28 in liquid-internal repo

[2017-10-14 09:36] alsegno commented on #155
@Luthieneye is here in case she wants to add input on the copy for this. if not, just remove yourself andreea

[2017-10-14 09:38] alsegno opened #156 "logout/change user not available in admin panel"
In the top-right of the admin panel we see the logged in user and whether they're an admin.

Should there be a way to logout/change user here? It's not clickable.

[2017-10-14 09:38] mrc-toader commented on #144
According to the intel website on this NUC model (NUC7I5BNH), the WiFi Adapter is 8265 and requires the ucode files (not included in ubuntu repos) from this url, which are for kernel 4.6+ but ubuntu 16.04's default is 4.4.
https://wireless.wiki.kernel.org/_media/en/users/drivers/iwlwifi-8265-ucode-22.361476.0.tgz

[2017-10-14 09:39] alsegno opened #157 "config wizard full of gradients and shadows"
'here there be monsters'

config wizard UI to be flattened and simplified to more closely resemble the admin panel

[2017-10-14 09:41] alsegno opened #158 "review of fonts/colours to harmonize with logo"
I'm going to send off the latest admin panel screenshots to our logo guy to see whether it inspires him wrt our logo design.

We should be prepared to maybe change some fonts, but as I like the admin panel we can at least get him to harmonize based on colours.

[2017-10-14 09:54] mrc-toader opened #159 "Start apps after supervisor started"
`supervisorctl status all` reports everything STOPPED

[2017-10-14 09:56] mrc-toader commented on #144
Accidentally clicked Close.

[2017-10-14 09:58] alsegno opened #160 "UI + API endpoints for OpenVPN"
This is vital for us to succeed Oct. 31. Super important. Tremendous.

We need another admin panel screen for configuring OpenVPN, and associated API endpoints.

This will take some work from all parties, but I think we can defer to Oct.31 unless someone wants to scream about getting it for Leipzig.

[2017-10-14 11:48] mrc-toader commented on #147
firstboot script is supposed to start them, only on first boot
Must have reboot persistence.

[2017-10-14 11:50] #147 closed

[2017-10-14 12:03] gabriel-v commented on #151
No problem here. We asked them to print the JSON as it is, because we currently don't know what data will be available on that endpoint. When we will have a definite structure for those endpoints, we will ask them to show the status page instead of the JSON.

[2017-10-14 12:07] mrc-toader commented on #136
Works

[2017-10-14 12:07] #136 closed

[2017-10-14 12:23] mrc-toader opened #161 "document how to set up a nuc the first time"
will update here after creating the file on git

[2017-10-14 14:15] gabriel-v opened #162 "Synchronize admin changes across multiple clients"
When two admins change settings, they should see each other's changes in real time.

This needs both frontend and backend work.

[2017-10-14 15:34] mrc-toader commented on #161
I've put it in this gist for now.
https://gist.github.com/mrc-toader/0955f406dd3c514c533055718536d7b0

I should switch it into a markdown file and add it in a repo.
@alsegno , @mgax would it belong here?
https://github.com/liquidinvestigations/docs

[2017-10-14 15:48] mrc-toader opened #163 "login matrix and dokuwiki"
incorrect username or password using liquid/liquid

[2017-10-14 16:03] mrc-toader opened #164 "Logs that make sense"
https://github.com/liquidinvestigations/setup/blob/master/ansible/roles/common/templates/libexec/invoke-hook

Example that logs to the unknown.

[2017-10-15 22:03] gabriel-v commented on #114
done; work to continue on https://github.com/liquidinvestigations/core/issues/10

[2017-10-15 22:03] #114 closed

[2017-10-16 14:21] mrc-toader commented on #159
From `/opt/common/boot.sh`'s log:
`+ supervisorctl start all
unix:///var/run/supervisor.sock no such file`

It should wait for supervisor to start.

[2017-10-16 14:27] gabriel-v commented on #156
we now have a logout button.

[2017-10-16 14:27] #156 closed

[2017-10-16 14:28] gabriel-v commented on #154
Artifact of mock server. Will stay as it is until after Leipzig. Moving to backlog.

[2017-10-16 14:30] gabriel-v commented on #149
cosmetic issue, see you next Q

[2017-10-16 14:30] #149 closed

[2017-10-16 14:33] gabriel-v commented on #133
will go through these when we're testing the thing. It either didn't start, or you didn't have it in your /etc/hosts

[2017-10-16 14:33] #133 closed

[2017-10-16 14:34] gabriel-v commented on #144
Make us a script that installs everything needed. Thanks & have fun

[2017-10-16 14:41] gabriel-v commented on #138
no wizard for leipzig

[2017-10-16 14:51] gabriel-v commented on #134
that link is a 404 nathan

[2017-10-16 14:55] gabriel-v commented on #140
not reproduced in recent builds, see to it later

[2017-10-16 15:00] gabriel-v commented on #143
așa mai face el

[2017-10-16 15:00] #143 closed

[2017-10-16 15:06] gabriel-v commented on #142
1. because i moved the on-boot hooks (that run on each boot) into an +e area. The first boot (initialize.sh) is done.

The actual problem is the bash `for file in *` errors when the dir is empty.

You're going to migrate the first boot logic to python, so closing this.

[2017-10-16 15:06] #142 closed

[2017-10-16 15:52] gabriel-v commented on #135
closing in favor of any future issues with the C2 boot

[2017-10-16 15:52] #135 closed

[2017-10-16 16:56] mrc-toader commented on #132
To be killed with fire.
![22550704_1409368369174402_1937269310_o.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59a5502080bf0800129616fe/125516c66e82c728ace21e0d46bac6cf76d2d4f9dbd6ee17f404a3c27115712a7853f77f20d7dc79e6112c5359564dad41370056e0ebc969f9ec6923ce4e01ffd4645b75c76f15f9b8811aed50eb208a4c87bfbc8a48c5ef2f39f5c9de116a415841c3aa1f27aa8b4ac052f74ee14554a3113f6bef733

[2017-10-16 23:19] alsegno commented on #132
still?

On 16 October 2017 at 18:56, mrc-toader <notifications@github.com> wrote:

[2017-10-17 15:59] gabriel-v commented on #8
closed by all of these:
- https://github.com/hoover/snoop/pull/42
- https://github.com/hoover/search/pull/24
- https://github.com/liquidinvestigations/setup/pull/66

[2017-10-17 16:19] mrc-toader commented on #132
[code]

[2017-10-18 12:06] gabriel-v commented on #159
should be fixed by https://github.com/liquidinvestigations/setup/commit/c0dbf4cc3dae391e44718548f221d8613adfdd21, will update after checking

[2017-10-18 13:30] gabriel-v opened #165 "setup to install ansible"
setup already installs setup on the target, but it can't run it. Right now, `setup/bin/install` gets the required version of ansible. Let's move that logic into the `common` role

[2017-10-18 13:37] gabriel-v opened #166 "jenkins to build the web-ui repo"
Let's add a Jenkinsfile to liquidinvestigations/web-ui. It should use factory and a x86_64 cloud image to run `npm` and archive artifacts.

[2017-10-18 13:41] gabriel-v commented on #139
once every 2 days, jenkins produces some useful image.

[2017-10-18 13:41] #139 closed

[2017-10-18 13:45] gabriel-v commented on #129
we brought back our home page for now.

[2017-10-18 13:45] #129 closed

[2017-10-18 13:53] gabriel-v commented on #164
Those logs should be in supervisor, under the liquid-core process.

[2017-10-18 13:56] #159 closed

[2017-10-18 14:02] gabriel-v commented on #153
Not a problem; the wizard should GET the defaults. It's an artifact of using the mock server

[2017-10-18 14:02] #153 closed

[2017-10-18 14:03] gabriel-v commented on #152
It's an artifact of using the mock server; the UI should GET the defaults from the backend which has the right defaults

[2017-10-18 14:03] #152 closed

[2017-10-18 14:09] gabriel-v commented on #141
moving to backlog, problem only appears in conjunction with your hacks for #137

[2017-10-18 14:10] mgax commented on #141
Fun fact – we use kernel 4.4.0 in Factory (I think it's the same kernel you're using) and it does support docker, the version from xenial. Maybe some kernel module is not loaded in your environment.

[2017-10-18 14:11] gabriel-v commented on #132
I'll put that in ansible, thanks

[2017-10-18 14:17] gabriel-v commented on #102
blocked, moving to backlog

[2017-10-18 14:24] gabriel-v commented on #132
for x86 these are failing:
[code]

[2017-10-18 14:24] gabriel-v commented on #132
those two are also failing for the C2

[2017-10-18 14:26] gabriel-v commented on #132
we also need to kill `unattended-upgrades`

[2017-10-18 15:15] #132 closed

[2017-10-20 10:40] Luthieneye opened #167 "Admin UI: change domain via"

[2017-10-21 12:57] gabriel-v commented on #8
all PRs are closed, this is done

[2017-10-21 12:57] #8 closed

[2017-10-21 12:58] gabriel-v commented on #124
User manual is done at https://github.com/liquidinvestigations/docs/tree/master/manual

[2017-10-21 12:58] #124 closed

[2017-10-21 12:59] gabriel-v commented on #126
Done; see wifi dongles at https://github.com/liquidinvestigations/docs/blob/master/manual/WiFi-Adapters.md

[2017-10-21 12:59] #126 closed

[2017-10-21 13:02] gabriel-v commented on #57
Still needs:
- button to show / change domain
- VPN management
- proper handling of `network.lan.eth` boolean flag

[2017-10-21 13:03] gabriel-v commented on #161
Yes. @mrc-toader  make a pull request for the docs repo.

[2017-10-21 13:11] gabriel-v opened #168 "test all python repos with flake8"
Let's set up all our python repos to make travis run flake8 with default settings. And then let's fix all code formatting issues on all the repos (maybe with automatic reformatters).

[2017-10-21 13:19] gabriel-v opened #169 "Admin UI: "create user" shows two confirmations instead of one"
When you create a user with the admin API, and it succeeds, you get two green "Your settings have been updated" confirmations.

I think this happens because we do a "POST /api/users/" and a "POST /api/users/$username/password" one after the other, and the UI shows a confirmation for each.

[2017-10-21 13:26] gabriel-v opened #170 "Admin UI: make the ENTER button work"
because right now it doesn't

[2017-10-21 14:37] alsegno commented on #14
see https://github.com/liquidinvestigations/openvpn-config/

[2017-10-21 15:14] mgax opened #171 "Q3 video demo"

[2017-10-21 15:17] mgax opened #172 "Lock first-boot setup"
With a fresh box, the first user to connect to the admin UI locks the box, so that nobody else (e.g. an attacker) can't take over the box before the user has a chance to change passwords.

[2017-10-21 16:35] alsegno opened #173 "Option to redirect all traffic through OpenVPN"
We might want a feature whereby admins can select an option to redirect all of their WAN traffic through the VPN.

[2017-10-22 19:31] alsegno commented on #14
server side does this now from a single script:

https://gist.github.com/alsegno/a112952cf2a93b30ccd1c8a392144bc9

[2017-10-23 08:45] Luthieneye opened #174 "Fix demo server"

[2017-10-23 08:48] Luthieneye commented on #174
According to Gabi the demo server is not working any longer.  For Q3 demo purposes we should get it up and running again.

Here is what we provided Google in Q2 with:
https://liquiddemo.org.
username: test
password: y8kBhM5ytqmqgHRz2qJz8/x3EAxcmfeOLG2plpfO

[2017-10-23 10:08] gabriel-v opened #175 "dokuwiki on ARM"
Right now, there's no dokuwiki running on ARM.

[2017-10-23 10:09] gabriel-v commented on #105
done, https://github.com/liquidinvestigations/setup/pull/64 is merged

[2017-10-23 10:09] #105 closed

[2017-10-23 10:25] gabriel-v commented on #150
@alsegno as the native english speaker, you should review all text on the ui pages

[2017-10-23 10:27] gabriel-v commented on #146
@mgax to test this on his branches

[2017-10-23 10:29] gabriel-v commented on #174
@Luthieneye please don't publish passwords in public issues thanks

[2017-10-23 10:31] gabriel-v commented on #131
duplicate of #172

[2017-10-23 10:31] #131 closed

[2017-10-23 10:33] gabriel-v opened #176 "Admin UI: VPN management"

[2017-10-23 10:33] gabriel-v opened #177 "Backend API: VPN management"
- add endpoints to apiary
- implement endpoints in django rest framework

[2017-10-23 10:37] gabriel-v opened #178 "Prove that network discovery works"
Both on LAN and over VPN

[2017-10-23 10:39] Luthieneye commented on #174
understood

[2017-10-23 10:39] #164 closed

[2017-10-23 10:42] gabriel-v commented on #165
merged into the setup repo

[2017-10-23 10:42] #165 closed

[2017-10-23 10:42] gabriel-v commented on #140
never happened again, closing

[2017-10-23 10:42] #140 closed

[2017-10-23 10:46] gabriel-v commented on #103
branch merged into master, closing

[2017-10-23 10:46] #103 closed

[2017-10-23 10:47] gabriel-v commented on #110
issue moved into the hoover org, closing

[2017-10-23 10:47] #110 closed

[2017-10-23 10:48] gabriel-v commented on #110
https://github.com/hoover/snoop/issues/43

[2017-10-23 10:49] gabriel-v commented on #123
nice to have

[2017-10-23 10:49] #123 closed

[2017-10-23 10:51] gabriel-v commented on #107
to be fixed when doing SSO

[2017-10-23 10:53] gabriel-v commented on #48
it's either this, or jumpers on the GPIO pins.
Want to enable wifi? Use a jumper from pin 7 to 39!

[2017-10-23 11:21] Luthieneye commented on #64
Nathan, can you pls. update the documentation with this scenario - by the end of the week?

[2017-10-23 11:27] gabriel-v commented on #130
@mgax ping me when you want me to test it for you

[2017-10-23 11:59] Luthieneye commented on #14
Someone recommended https://www.wireguard.com/ as an alternative to OpenVPN. Prlly it's too late now to figure this one out.

[2017-10-23 14:02] mgax commented on #167
@gabriel-v we need an API endpoint to get/set the domain name.

[2017-10-24 11:52] mgax opened #179 "UI visual bug: horizontal line too long"
The "add user" modal has a horizontal line that stretches beyond the modal box.

<img width="1091" alt="screen shot 2017-10-21 at 15 24 58" src="https://user-images.githubusercontent.com/27617/31941571-f8d307ec-b8ca-11e7-8f65-553b57787eb7.png">

[2017-10-24 11:57] mgax commented on #154
@m-nic the time will come in ISO format that should be parsable by the native JS Date class, e.g. `2017-10-24T11:56:23.711288+00:00`.

@gabriel-v please update the mock data on the liquiddemo.org server to contain valid ISO timestamps.

[2017-10-24 11:57] mgax commented on #170
@m-nic says:

[2017-10-24 11:59] mgax commented on #176
@m-nic says:

[2017-10-24 11:59] mgax commented on #176
@m-nic yep, that's correct. Can you draw a quick wireframe for that screen, so we make sure we're all on the same page? Thanks!

[2017-10-24 12:01] mgax commented on #160
@m-nic says:

[2017-10-24 12:15] mgax commented on #160
@m-nic yes, this is a catch-all issue, and we're using it to track the API part of the implementation too. I'll unassign you.

[2017-10-24 12:18] mgax commented on #155
@m-nic says:

[2017-10-24 12:21] mgax commented on #155
@m-nic it's a simple non-interactive page. We can provide the content via the API as an HTML blob that you can just include in the page.

@gabriel-v does that sound right? And, since you're the API master, can you please spec out an endpoint? We can write a Django template to render the HTML string, and then return it via the API, either wrapped as JSON, or as a text/html body.

[2017-10-24 13:00] mgax opened #180 ""Upgrade" button"
Create an "upgrade" button in the UI that triggers a git pull on the "setup" repo and re-runs Ansible.

[2017-10-24 15:59] mrc-toader commented on #144
Update: the latest version firmware was already there, just requires newer kernel.
I'd suggest getting `linux-generic-hwe-16.04` (4.10.something) because it's in the official xenial repos, when/if @mgax  is willing to reboot the nuc.

[2017-10-24 17:07] mgax commented on #14
I'm integrating @alsegno's VPN work into setup. The server setup is done (certificate authority, generating client keys, generating the client config file). Next is loading the client configuration file into another liquid node and connecting to the server.

[2017-10-24 19:49] gabriel-v commented on #155
API for what, contacting a Liquid Node admin through the Admin Panel?
Users can use chat for that.

The idea of the form is to point administrators to us, the creators of the thing.

Don't think it makes sense to be under "Discovery" like Nathan said, but Andrei is the UX expert here.

Make a placeholder page and we will provide the text, links and email addresses.

[2017-10-24 19:51] gabriel-v commented on #167
`/api/network/domain/` has been there since the first iteration of the API blueprint

[2017-10-24 19:54] gabriel-v commented on #154
The properly formatted dates are in apiary. Will update the liquiddemo.org server after we've fixed all the other issues with it.

[2017-10-24 19:56] gabriel-v commented on #151
done; GET `/api/network/status/` describes a list of interfaces with user-friendly display names.

[2017-10-24 19:56] #151 closed

[2017-10-24 22:35] gabriel-v commented on #119
Added sample error messages for all endpoints.
Closed by commit https://github.com/liquidinvestigations/docs/commit/6d98d4f76e500d40eb903b53abba0daf19d1a1ad

[2017-10-24 22:35] #119 closed

[2017-10-24 22:39] gabriel-v commented on #169
Additionally, I can change the POST `/api/users/` to require a password if this makes more sense.

[2017-10-24 22:41] mgax commented on #167
@m-nic then the ball is in your court :)

[2017-10-24 22:46] mgax commented on #169
Yeah, I think it makes no sense to create a user without password. The UI has a single step for user creation; the app hooks also expect a password (and we generate a random one as placeholder). Please add it to `POST /api/users/`.

[2017-10-24 22:49] mgax commented on #155
@gabriel-v I was suggesting that we provide the text, links and email addresses via the API. There's nothing dynamic in that content, sure, but it makes it a lot easier for us to fiddle with the content if it's coming from Python code.

Or, if we're confident we can make changes super easily to the UI code, and recompile, then we can just hardcode the content in the UI repo.

[2017-10-25 12:04] alsegno opened #181 "put the logo on the website & on github & whatever"

[2017-10-25 12:08] alsegno opened #182 "section 7 architecture diagrams for VPN, review everything"
VPN is not yet documented in the architecture document.

[2017-10-26 10:40] alsegno opened #183 "integrate logo with wizard & admin UI"
we have a logo. it should appear in the wizard and admin UI

[2017-10-26 10:41] alsegno commented on #183
we have a square thing to be used as a favicon too.

[2017-10-26 11:00] alsegno commented on #178
What does 'discovery' mean in the case where the VPN client is my Mac desktop? Presumably I'm not running zeroconf or any 'mDNS reflector' on my laptop. Does this mean that I can't access 'discovered' nodes if I use my laptop to directly connect to the VPN?

This may relate to an OpenVPN DNS 'push' setting that could get a bit hairy if we don't pay attention to it...

[2017-10-26 11:11] alsegno opened #184 "liquid website links to jenkins for images. no ARM images."
ilquidinvestigations.org has an 'images' link. It seems to link to the last successful builds. Maybe it should link to some 'stable' archived builds instead? There's no ARM build here right now.

How to fix?

https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/job/master/lastSuccessfulBuild/artifact/

[2017-10-26 11:13] alsegno opened #185 "More liquidinvestigations.org 'About Us' copy"
@Luthieneye can you take a look through liquidinvestigations.org and see if there's some more 'About Us' or 'Contact' copy that needs to go in there before milestone end?

If you get it to me here or in an email I can put it up there.

If it's fine as it is, you can just close this.

[2017-10-26 11:21] mgax commented on #184
There are two "images" links, one for x86_64 and one for arm64. The wording for the 2nd one is wrong because it mentions "arm32" which we don't build for.

We can point to "stable builds" once we have such an archive. I'd even insist on version numbers for them. Maybe the Q3 final images are a good candidate to start. Until then, jenkins for the master branch is all we have.

[2017-10-26 11:21] #184 closed

[2017-10-26 12:02] mgax commented on #160
Closing since we already have specific issues.

[2017-10-26 12:02] #160 closed

[2017-10-26 13:05] #177 closed

[2017-10-26 16:40] #179 closed

[2017-10-26 16:40] #176 closed

[2017-10-26 16:40] #154 closed

[2017-10-26 19:55] #183 closed

[2017-10-26 20:28] #155 closed

[2017-10-26 20:29] #157 closed

[2017-10-26 20:51] m-nic commented on #167
Where do you think this should get placed?

[2017-10-26 20:54] m-nic commented on #150
@alsegno or anyone in the team, could you please provide some raw texts for the pages we have? @alsegno can always review the grammar & spelling.

[2017-10-26 20:55] m-nic commented on #169
@gabriel-v can you please update Apiary with the new field support?

[2017-10-27 07:42] mgax commented on #167
I'm thinking a new "general" screen, between "status" and "network". @gabriel-v, @alsegno what do you think?

[2017-10-27 07:42] mgax commented on #150
@m-nic just use some lipsum, we can replace it later.

[2017-10-27 07:45] m-nic commented on #167
I was thinking the same, however we need to figure out what is the exact info that would get displayed there.

[2017-10-27 07:47] mgax commented on #167
Just the domain for now.

[2017-10-28 09:24] #14 closed

[2017-10-28 13:10] gabriel-v commented on #169
backlog till next Q.

[2017-10-28 19:12] m-nic opened #186 "API should always return notification messages in the same format."
We should have a standard format for any success/error message that comes from the backend API.
Basically my proposal is to always return a dictionary of this kind for all the API responses.
[code]

[2017-10-29 14:00] alsegno opened #187 "HTTPS support"
Here's how we can create self-signed certificates (this is a very similar process to what we are doing already for the OpenVPN CA)

https://deliciousbrains.com/https-locally-without-browser-privacy-errors/

After doing this, there are (relatively) easy ways to make these certificates available to the user to install in their local keychain.

This might be our best way of doing things in the near t

[2017-10-29 15:23] alsegno commented on #171
I don't have the tools to do this, but I can write the script once I see the finished UI pieces.

[2017-10-29 15:24] alsegno opened #188 "Update user manual based on new one-page wizard"
https://github.com/liquidinvestigations/docs/tree/master/manual

[2017-10-29 15:44] #182 closed

[2017-10-29 15:50] alsegno commented on #181
Neat!

![Screen Shot 2017-10-29 at 16.49.41.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594119bf3984c3001af93325/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76236456fa6b7191a379e90c2f58415b4fbe5d4a1f06a3a3dc78e2a436628f550fecd03f5b21c63e14fee9d31fbe02b8298b4f81b3bb9850d2aa6c7bb3d4d216744b470a83ed5c3caa984ec851f442e34f55a6143463f43b.png)

[2017-10-29 16:08] alsegno commented on #181
Favicon also neat!

![Screen Shot 2017-10-29 at 17.07.22.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594119bf3984c3001af93325/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76236456fa6b7191a379e80c2b56415d4cbe5d4a1f06a3a3dc78e2a436628f550fecd03f5b21c63e14fee9d31fbe02b8298b4f81b3bb9850d2aa6c7bb3d4d216744b470a83ed5c3caa984ec851f442e24f53a5133163f43b.png)

[2017-10-29 16:14] alsegno commented on #181
I am not smart enough with jekyll to put our logo on the website.

[2017-10-29 16:18] alsegno commented on #150
1 - where can I find the latest UI stuff to write copy for?
2 - what's the appropriate method for me to replace the lorem ipsum with something 'real'?

[2017-10-29 16:18] #158 closed

[2017-10-29 16:31] alsegno commented on #181
The logos are here in case anyone wants to update, or teach me to update the jekyll site. Otherwise let's just throw this into backlog.

https://github.com/liquidinvestigations/liquidinvestigations/tree/master/logos

[2017-10-29 16:54] alsegno commented on #171
draft scripts:

https://workflowy.com/s/B__W.f4QUvLdnih

will refine as needed. still waiting on UI stuff at http://ui.liquiddemo.org

[2017-10-29 17:18] mgax opened #189 "Hoover updaters spam the logs"
Supervisor keeps restarting the hoover-davros workers. This creates a bunch of traffic in the logs and will surely affect our demo server.

I suggest we make the workers long-lived: when they have no work, they can sleep for a few seconds, and try again, instead of exiting.

[2017-10-30 08:26] gabriel-v commented on #166
done; see the builds [here](https://jenkins.liquiddemo.org/job/liquidinvestigations/job/web-ui/job/master/)

[2017-10-30 08:26] #166 closed

[2017-10-30 08:35] gabriel-v commented on #146
problem no longer there on latest build

[2017-10-30 08:35] #146 closed

[2017-10-30 08:35] gabriel-v commented on #163
problem no longer there on latest build

[2017-10-30 08:35] #163 closed

[2017-10-30 09:47] m-nic commented on #167
This was done, the Admin UI allows you to change the domain name.

[2017-10-30 09:47] #167 closed

[2017-10-30 13:17] gabriel-v commented on #42
done; no longer using docker

[2017-10-30 13:17] #42 closed

[2017-10-30 13:18] gabriel-v commented on #175
done; no longer using docker

[2017-10-30 13:18] #175 closed

[2017-10-30 14:43] alsegno commented on #181
![Screen Shot 2017-10-30 at 15.43.22.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/594119bf3984c3001af93325/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76236457f36b7191a379ea0c2f52415d4cbe5d4a1f06a3a3dc78e2a436628f550fecd03f5b21c63e14fee9d31fbe02b8298b4f81b3bb9850d2aa6c7bb3d4d216744b470a83ed5c32aa984ec851f54ce54b54ad14346af43b.png)

[2017-10-30 14:43] #181 closed

[2017-10-30 17:04] mgax commented on #80
Works goddamn it.

[2017-10-30 17:04] #80 closed

[2017-10-30 17:06] mgax commented on #178
Proved.

[2017-10-30 17:06] #178 closed

[2017-10-30 23:57] alsegno opened #190 "discovered nodes columns are offset (no interface?)"

[2017-10-30 23:58] alsegno commented on #190
![screen shot 2017-10-31 at 00 56 42](https://user-images.githubusercontent.com/3958483/32201299-8ee78040-bdd6-11e7-94e8-edaead677779.png)

[2017-10-30 23:59] alsegno opened #191 "ssh 'off' in network settings not respected"
i can ssh into the demo server even though ssh is marked 'off' in network settings.

[2017-10-31 00:00] alsegno opened #192 "Always show •••••••• next to the password eye icon"

[2017-10-31 00:01] alsegno commented on #192
I'm not sure what this does. Maybe it's obvious.

![screen shot 2017-10-31 at 01 00 34](https://user-images.githubusercontent.com/3958483/32201378-026a766c-bdd7-11e7-88d3-2c98e929ff89.png)

[2017-10-31 00:02] alsegno opened #193 "Display information on Admin's Status Tab"

[2017-10-31 00:02] alsegno opened #194 "Tab title should not be 'LiquidInvestigationApp' in admin panel (demo server)"

[2017-10-31 00:04] alsegno opened #195 "demo server: admin panel: vpn: key details 'revoked' should not be an x/check icon, should be yes/no."

[2017-10-31 00:04] alsegno commented on #195
![screen shot 2017-10-31 at 01 03 54](https://user-images.githubusercontent.com/3958483/32201469-7e7eb5c4-bdd7-11e7-91bf-a93ba34ccbc0.png)

[2017-10-31 00:13] alsegno commented on #150
1 - about shouldn't be 'about' in the admin panel on the demo server, it should say 'help'/'contact'
2 - i should write something for this -- @mrc-toader have we got an email alias for support?

[2017-10-31 00:14] alsegno opened #196 "'django admin' option should not appear from landing page"

[2017-10-31 00:15] alsegno opened #197 "'reconfigure' option should either do something or not appear on landing page"

[2017-10-31 00:15] alsegno opened #198 "no collections available to search on demo server"

[2017-10-31 00:16] alsegno opened #199 "dokuwiki inaccessible because of 'HSTS'"

[2017-10-31 00:17] alsegno commented on #199
![screen shot 2017-10-31 at 01 16 59](https://user-images.githubusercontent.com/3958483/32201834-3ddb4864-bdd9-11e7-875a-d7ee4efa5b25.png)

[2017-10-31 00:18] alsegno opened #200 "davros inaccessible on demo server"
internal application error?

[2017-10-31 00:18] alsegno commented on #200
![screen shot 2017-10-31 at 01 17 57](https://user-images.githubusercontent.com/3958483/32201876-6b1a890c-bdd9-11e7-92dd-8355f467cad8.png)

[2017-10-31 09:27] mgax commented on #190
Ah lol.

[2017-10-31 09:28] #190 closed

[2017-10-31 11:56] alsegno commented on #150
about copy: https://workflowy.com/s/B__W.rSUAkRtYcx

@mrc-toader we need a support@liquiddemo.org alias that forwards everything to @mgax's personal email directly.

[2017-11-02 14:11] alsegno opened #201 "make 'first boot' wizard available for demo somewhere"
this also needs coverage in the 'facelift' effort by pinkfox.

[2017-11-02 14:12] alsegno opened #202 "facelift"
- front page
 - first boot config
 - front pages of all apps

https://waffle.io/liquidinvestigations/liquidinvestigations?milestone=Facelift

[2017-11-03 10:34] #171 closed

[2017-11-03 10:34] #57 closed

[2017-11-03 10:34] #130 closed

[2017-11-03 10:43] mgax commented on #192
Normally it shows `••••••••`, but the password is blank, so it shows no `•`. I think it should always show 8x`•` regardless of the password.

[2017-11-03 10:46] mgax commented on #174
Demo server is updated for the Q3 milestone. Any individual bugs deserve individual issues from this point on.

[2017-11-03 10:46] #174 closed

[2017-11-03 10:48] #161 closed

[2017-11-03 10:52] mgax commented on #186
That would be a bad separation of concerns. The API's job is to say what went wrong, not what the user should see. The JS admin UI code should parse the API's errors and figure out what user messages make sense.

[2017-11-03 10:53] #186 closed

[2017-11-03 10:56] mgax commented on #180
Maybe some other time. Or better to upgrade to a newer build (burn a new SD card, or upgrade the VM's root image) while preserving user data.

[2017-11-03 10:56] #180 closed

[2017-11-03 10:58] mgax commented on #191
Duplicate of https://github.com/liquidinvestigations/setup/issues/71

[2017-11-03 10:58] #191 closed

[2017-11-03 11:00] mgax commented on #144
@mrc-toader I was talking about somebody else's NUC. Closing the issue because it's not clear what should be done. When we need WiFi on our NUC for Liquid Investigations, we'll figure out a solution, document it, and be happy.

[2017-11-03 11:00] #144 closed

[2017-11-03 11:01] #148 closed

[2017-11-03 11:01] #56 closed

[2017-11-03 11:02] mgax commented on #141
By now we've got Docker out of our system.

[2017-11-03 11:02] #141 closed

[2017-11-03 11:04] mgax commented on #138
There is no more `ui.liquiddemo.org.` The main liquiddemo has the most recent UI build.

[2017-11-03 11:04] #138 closed

[2017-11-03 11:05] mgax commented on #94
Nope.

[2017-11-03 11:05] #94 closed

[2017-11-05 10:51] alsegno commented on #185
It's been a long time with no response. closing.

[2017-11-05 10:51] #185 closed

[2017-11-05 10:55] alsegno opened #203 "'django admin'/'reconfigure' should not appear on front page"

[2017-11-05 11:24] alsegno opened #204 "windows/mac OpenVPN Client support"
We need to investigate whether the following will help us with DNS support so that we can use a laptop to VPN into a node:

# Certain Windows-specific network settings
# can be pushed to clients, such as DNS
# or WINS server addresses.  CAVEAT:
# http://openvpn.net/faq.html#dhcpcaveats
# The addresses below refer to the public
# DNS servers provided by opendns.com.
;push "dhcp-option DNS 208.67.22

[2017-11-05 11:25] alsegno opened #205 "vpn client-to-client support"
We need to investigate whether the following will let us have client-to-client support (required) when using the VPN:

# Uncomment this directive to allow different
# clients to be able to "see" each other.
# By default, clients will only see the server.
# To force clients to only see the server, you
# will also need to appropriately firewall the
# server's TUN/TAP interface.
;client-to-client

[2017-11-05 11:42] alsegno opened #206 "about text for admin UI"

[2017-11-05 11:42] alsegno commented on #206
The Liquid investigations project is a Google DNI funded project, driven by the Romanian Centre for Investigative Journalism (CRJI(http://crji.theblacksea.eu/)), where coders and journalists work towards making investigative collaborations less burdensome and more secure.

If you think you have run into a problem or need support, you can contact our development and support team at support@liquidde

[2017-11-08 13:09] mgax commented on #193
First we need to provide all the relevant information via the API.

[2017-11-08 13:11] mgax commented on #201
This deserves a separate issue.

[2017-11-09 21:27] gabriel-v opened #207 "Spec and implement API endpoint for list of generic links"
We should make an API endpoint that serves a list of links. This is so we can move the links from our ugly landing page into the new UI.

[2017-11-09 21:30] gabriel-v opened #208 "Display list of links in the top part of the page"
Blocked on #207 for the endpoint with links.

Display a very simple drop-down that renders links, populated from an API call.

This is so we can use the new home page while adding links from the backend (for different development and status views and work-in-progress pages).

[2017-11-13 10:42] mgax opened #209 "Review testing documentation"
* https://github.com/liquidinvestigations/liquidinvestigations/blob/master/testing/systems_test_plan.md
* http://sentre.de:6080/grain/D8Dx2H6bf4DWFkMwjhET2a/testing/uat

[2017-11-13 15:08] gabriel-v commented on #200
https reverse proxy issues with oauth2, fixed in lastest master branch

[2017-11-13 15:08] #200 closed

[2017-11-13 15:15] gabriel-v commented on #199
it was supplying the wrong certificate because of a typo. fixed in commit on master

[2017-11-13 15:15] #199 closed

[2017-11-14 15:04] mrc-toader commented on #144
@mgax updated mentioned kernel, wifi works now

[2017-11-15 15:00] mgax opened #210 "welcome form - dnsmasq"
After going through the welcome form, the dnsmasq service is not updated with the new domain.

[2017-11-15 15:01] mgax opened #211 "Disallow changing the domain name after welcome form"
It makes no sense to change the domain of an already-configured node. And matrix complains loudly when you try: `Found users in database not native to matrix.ghost.example.org! You cannot changed a synapse server_name after it's been configured`

[2017-11-15 15:04] mgax opened #212 "VPN connection reroutes traffic and future VPN connections fail"

[2017-11-15 15:04] mgax opened #213 "Update /var/lib/liquid/conf/options.json with new domain"
After the welcome form, `/var/lib/liquid/conf/options.json` still has the default domain

[2017-11-15 15:05] mgax opened #214 "License file for each repo"
We should probably use MIT.

[2017-11-15 15:46] gabriel-v opened #215 "require login on home page and everywhere else"
All pages after the wizard should redirect to login

[2017-11-15 16:25] gabriel-v opened #216 "Davros still logged in after logging out from the homepage"
To reproduce: login from the homepage, click on davros, go back to the homepage, logout, click on davros. It still works, but it shouldn't.

[2017-11-16 14:21] mgax commented on #111
Done – [CRJI/liquid-demoserver](https://github.com/CRJI/liquid-demoserver), run [in jenkins](https://jenkins.liquiddemo.org/job/liquiddemo.org/), takes an image and injects demo-specific stuff, then deploys the resulting image into a factory, and restarts liquiddemo.org.

[2017-11-16 14:21] #111 closed

[2017-11-16 15:43] mgax opened #217 "Can't disable matrix app"
The reconfigure agent prints the following ansible error:

[code]

[2017-11-18 10:58] gabriel-v commented on #203
Those links should only appear for admins. Maybe we should move them to someplace else.

[2017-11-18 11:03] gabriel-v commented on #170
This works on chrome and firefox on our linux machines.
Closing; reopen if found to be important

[2017-11-19 07:43] mgax commented on #170
Still doesn't work. By the way, if I press "tab" to get to the "add" button, and *then* press enter, the form submits. But if I press enter while the "last name" field is focused, nothing happens.

[2017-11-20 11:13] mgax commented on #214
And the copyright owner should say "$project contributors", with a link to the github view that shows the contributors.

@gabriel-v, @germakoci, @alsegno does that make sense?

[2017-11-20 11:16] mgax commented on #192
@m-nic does this change make sense? If so, please make it happen :)

[2017-11-20 11:16] mgax commented on #195
@m-nic what's the status on this?

[2017-11-20 11:18] mgax commented on #198
First we should require login on all apps (https://github.com/liquidinvestigations/liquidinvestigations/issues/215) then we can make the davros collection public by default.

[2017-11-20 11:19] m-nic commented on #192
This will be done this week.

[2017-11-20 11:20] m-nic commented on #195
This will be done this week.

[2017-11-21 11:10] mgax opened #218 "Preserve ssh host keys on liquiddemo.org"
Whenever liquiddemo.org is deployed, it generates new sshd keys, which causes the ssh client to complain about key mismatch and potential man in the middle. We should preserve the host keys in the shared filesystem, like we do with https certificates.

[2017-11-21 12:27] mgax opened #219 "Encrypted storage"

[2017-11-21 12:30] mgax opened #220 "HTTPS"
* https://github.com/liquidinvestigations/liquidinvestigations/issues/187
* https://github.com/liquidinvestigations/liquidinvestigations/issues/89

[2017-11-21 12:33] mgax opened #221 "Usable product on Odroid C2"
Meta-issue to track remaining bugs until we can release a fully usable image with instructions.

[2017-11-21 12:53] mgax opened #222 "Facelift"
Meta-issue to track facelift of the bundled apps.

https://waffle.io/liquidinvestigations/liquidinvestigations?milestone=Facelift

[2017-11-21 13:08] mgax opened #223 "Q4 milestone"

[2017-11-21 13:09] #220 closed

[2017-11-21 13:12] #222 closed

[2017-11-21 13:18] mgax opened #224 "YubiKey for disk encryption"
Store the encryption keys using a PGP card (e.g. some YubiKey models).

[2017-11-21 14:07] mgax commented on #209
@alsegno @Luthieneye looks good to me. I've made a few changes, you can see them in the [git logs](https://github.com/liquidinvestigations/liquidinvestigations/compare/d47629ff...b3ecf22).

[2017-11-21 16:03] mgax commented on #218
Done.

[2017-11-21 16:03] #218 closed

[2017-11-25 10:47] m-nic commented on #106
@mgax Please find a way to replicate the issue and provide the steps.

[2017-11-25 10:53] #192 closed

[2017-11-25 10:53] #206 closed

[2017-11-25 10:53] #195 closed

[2017-11-25 10:55] mgax commented on #203
We're keeping the button for now, until we clean up our configuration story, and figure out a better place to move that button.

[2017-11-25 10:55] #203 closed

[2017-11-25 10:56] #194 closed

[2017-11-25 10:59] m-nic commented on #208
Closing this issue as discussed.

[2017-11-25 10:59] #208 closed

[2017-11-25 10:59] mgax commented on #207
We can keep things simple and modify the ui repos whenever we need to change links.

[2017-11-25 10:59] #207 closed

[2017-11-25 22:06] mgax commented on #106
@m-nic from inside the factory VM, edit the file `/opt/hypothesis/h/h/views/home.py` to insert `raise RuntimeError` at line 26:

<img width="489" alt="screen shot 2017-11-25 at 23 58 42" src="https://user-images.githubusercontent.com/27617/33235267-5e47398c-d23d-11e7-9760-4606d4fb775b.png">

Then run `supervisorctl restart hypothesis-web`. When you navigate to the hypothesis homepage it should ret

[2017-11-27 11:27] mgax commented on #217
fixed in https://github.com/liquidinvestigations/setup/commit/c761362bdfba8f6e86436579cea0117b40d3d000

[2017-11-27 11:27] #217 closed

[2017-11-27 11:31] mgax commented on #169
@m-nic created separate issue for the API: https://github.com/liquidinvestigations/setup/issues/96

[2017-11-27 17:20] gabriel-v opened #225 "menu bar broken on firefox 57 quantum"
No errors in the console, the script runs, the menu bar does not load.

[2017-11-29 10:45] mrc-toader opened #226 "Perform a manual test on the liquid cloud image"
Depends on https://github.com/liquidinvestigations/docs/issues/9

[2017-11-29 10:46] mrc-toader commented on #226
Reference and update documentation
https://github.com/liquidinvestigations/liquidinvestigations/issues/209

[2017-11-29 15:00] gabriel-v opened #227 "remove sudo from the liquid user"
there's no need to give 'sudo' to the liquid user. this means:
- after supervisorctl is up, chown and chmod on its socket
- fix all permission problems that will pop up

[2017-11-29 15:03] gabriel-v opened #228 "remove default password from the odroid's root user"
No description provided.

[2017-11-29 15:43] mgax commented on #169
@m-nic the API and its docs are updated. I kicked off a [new build](https://jenkins.liquiddemo.org/job/liquidinvestigations/job/setup/job/master/118/).

[2017-11-29 15:44] gabriel-v opened #229 "menu overlaps with matrix header"
see screenshot

[2017-11-30 17:13] #225 closed

[2017-11-30 17:13] #106 closed

[2017-11-30 17:13] #229 closed

[2017-12-04 14:39] Luthieneye commented on #150
Hey guys, can we remove the Django Admin tab from the  UI. What for do we need it? Also unsure what the 'Reconfigure' tab refers to.

[2017-12-04 14:41] Luthieneye commented on #193
We need to decide what the user will see here ( i.e. board status, active services, # of users on the system)

[2017-12-04 15:28] gabriel-v commented on #201
This requires more work than it's worth. We can't open them on `liquiddemo.org` because that breaks the flow of deploying the demo server.

As we needed these pages for testing reference, have some screenshots

**Initial welcome screen**
![screenshot_20171204_171813](https://user-images.githubusercontent.com/7493327/33560273-f9c4af6c-d917-11e7-88ee-992f3d139730.png)

**Second welcome screen**
![sc

[2017-12-04 15:28] #201 closed

[2017-12-04 23:37] #169 closed

[2017-12-06 13:57] mgax commented on #22
Closing in favour of another issue in the EIC repo.

[2017-12-06 13:57] #22 closed

[2017-12-06 16:46] Luthieneye commented on #150
Grammar error on Hypothes.is tab:  "If you already installed Hypothesis in your browser, click the button below to start searching THROUGH your annotations" - through spells with H

[2017-12-11 12:51] mgax opened #230 "Show progress in admin UI while reconfiguring"
There's an endpoint `/api/configure/status/` that returns `status` as `ok`, `reconfiguring` or `broken`. Display the "loading" overlay and poll every 1s to see if the status changes. Also print the `detail` string.

[2017-12-11 12:53] mgax opened #231 "Remove the "change domain name" input"
We're disabling the feature where you can change the domain name (it's only editable in first boot configuration).

![screen shot 2017-12-11 at 14 52 21](https://user-images.githubusercontent.com/27617/33832038-14fc6c14-de83-11e7-83d0-1309740d4605.png)

[2017-12-11 13:11] mgax commented on #196
Is done.

[2017-12-11 13:11] #196 closed

[2017-12-11 13:12] mgax commented on #197
Is also done.

[2017-12-11 13:12] #197 closed

[2017-12-11 14:25] gabriel-v opened #232 "fix web-ui-deployment-scripts to use the new .gz archives"

[2017-12-11 15:10] gabriel-v commented on #232
fixed by https://github.com/liquidinvestigations/web-ui-deployment-scripts/commit/87788545d9e045ab9edb299fdca8fb9419094df7

[2017-12-11 15:10] #232 closed

[2017-12-13 11:17] mgax opened #233 "Perform a full QA test on an Odroid C2 image"
* [x] finish work on the odroid MVP (https://github.com/liquidinvestigations/liquidinvestigations/issues/221)
* [x] update user manual (https://github.com/liquidinvestigations/liquidinvestigations/issues/188)
* [ ] ~write out instructions for QA testing on the Odroid C2 (https://github.com/liquidinvestigations/liquidinvestigations/issues/251)~
* [ ] ~run through the QA instructions and report resu

[2017-12-13 16:42] gabriel-v opened #234 "liquid menu on the davros subdomain shows one million "undefined" menu entries"

[2017-12-13 16:42] gabriel-v commented on #234
![screenshot_20171213_184132](https://user-images.githubusercontent.com/7493327/33950574-6d9ee000-e035-11e7-993e-69cc3674cef5.png)

[2017-12-13 20:01] #231 closed

[2017-12-13 20:05] mgax commented on #231
@m-nic cool! Just a note, it would be helpful if you reference a commit when you close an issue. Even better, if you mention the issue number or URL in the commit message (e.g. `closes https://github.com/liquidinvestigations/liquidinvestigations/issues/231` or `closes #231`), it automatically closes the issue on push to master, and posts on the issue a link back to the commit. No big deal, just to

[2017-12-14 11:23] gabriel-v commented on #234
@m-nic please provide a one line comment about why this is closed:
- is the problem no longer there? invalid? non-reproductible?
- is the problem fixed by some code push?

[2017-12-14 12:47] m-nic commented on #234
It was fixed in by this code [push](https://github.com/liquidinvestigations/ui-templates/commit/9a689bed0c75f4947337a38e616bbbef10328a17).

[2017-12-15 21:36] m-nic commented on #230
This feature has been enabled for the available services. Are there other API calls that need to trigger the same feature after they are called?

[2017-12-15 23:24] gabriel-v commented on #230
All of the `PUT /api/*` or `POST /api/*` endpoints will trigger a reconfiguration, not just the `/api/services` ones. Networking, ssh, vpn, everything. To be save, I'd say all `PUT/POST /api/*` calls should trigger a check if there's a reconfiguration to be done.

[2017-12-18 09:35] Luthieneye commented on #209
Test Cases (to  manually test liquid features) - Needs more input
https://docs.google.com/spreadsheets/d/1piUtwiIZTKfNh0dHckIfPob6Nw7AQc6JqQziJogRRAk/edit#gid=2020650119

We still need a document with some basic guidelines for Performance testing
VPN  (scalability/stress testing)
Hoover Indexing (scalability/stress testing)

[2017-12-18 12:23] gabriel-v commented on #230
There are some edge cases to fix, we'll provide details soon

[2017-12-18 12:32] gabriel-v commented on #228
i'll add an ansible task that disables the root password

[2017-12-18 12:39] gabriel-v commented on #211
remove this endpoint: https://liquidinvestigations.docs.apiary.io/#reference/network-management/domain-configuration/update-network-domain

[2017-12-18 12:50] gabriel-v opened #235 "Backend for /api/status/"

[2017-12-18 12:51] gabriel-v commented on #235
@gabriel-v implement /api/status/ pls

[2017-12-18 12:56] gabriel-v commented on #193
@m-nic please move the current content from the Status Tab (the list of interfaces, that currently says "No information") to the Network Status tab, at the bottom of the page.

Then, implement a simple list that displays entries "title" and "text", one on each line. Take the data from `/api/status/`. See https://liquidinvestigations.docs.apiary.io/#reference/admin-panel/general-status/get-general-

[2017-12-18 15:27] #228 closed

[2017-12-18 15:50] gabriel-v commented on #170
Enter button also doesn't work as expected on Chrome, on the login screen (/accounts/login).
The enter button only works if one of the input fields (username/password) is focused. If one of those isn't focused, the enter button doesn't work.

[2017-12-19 10:53] gabriel-v opened #236 "No pages should load before the "Welcome" step is done"
The Admin UI gets rendered, even if the "welcome" step is not done. All API calls get redirected to "/welcome", but the UI is still displayed.

[2017-12-19 11:11] mrc-toader opened #237 "VPN Server status says starting but it's on"
- Status says `Starting` but it's already running.
- Connection count says 0 even when one vpn client is connected.
[code]

[2017-12-19 13:35] #211 closed

[2017-12-19 13:46] mrc-toader opened #238 "Hypothesis doesn't reload when"
restarted from the `Services` page in admin.

[2017-12-19 14:06] mrc-toader commented on #238
It says:
[code]

[2017-12-19 14:12] mrc-toader commented on #238
Also matrix, after rebooting service from admin UI:
[code]

[2017-12-19 14:39] mgax opened #239 "Persistent domain for welcome form"
Use two domains instead of one:
* one domain for initial setup: `liquidsetup.example.org`. This will serve the welcome form, and an API endpoint that the UI can poll, to find out when the initial setup is complete. This domain will continue to exist when initial setup is complete.
* another domain for the liquid node, configurable by the user; defaults to `liquid.example.org`. This is the `liquid_

[2017-12-19 15:23] mgax opened #240 "Catch errors in flaky tests"
Some tests fail with `selenium.common.exceptions.WebDriverException: Message: connection refused`, e.g. this one: https://jenkins.liquiddemo.org/job/setup-noapps/job/PR-114/1/

Maybe flaky only retries tests that fail with an `AssertionError`? Or maybe two retries is not enough?

[2017-12-19 15:31] mgax opened #241 "Mirror the Tika JAR"
The tika server keeps causing problems: they don't keep old versions on the download server, and it randomly fails, their DNS just went down today. Let's mirror the JAR file on our server.

https://tika.apache.org/download.html

[2017-12-20 15:07] mrc-toader opened #242 "VPN Server dies cloud-vm"
Testcase scenario:

(prior to running cloud vm `sudo socat udp-listen:1194,fork udp:127.0.0.1:1194` )

- turn VPN Server toggle on
- generate Key
- import key in client
- try to connect (fails)
- turn VPN Server toggle off/on
- factory gets killed

These steps made qemu render my host os unusable.

[2017-12-20 17:59] gabriel-v opened #243 "Add autofocus for all forms and fields"
On the following places:
- login form
- admin edit forms
- user create form
- vpn revoke & key create form
- everywhere else

Please add autofocus for the first input in the list, so the ENTER button works.

[2017-12-20 18:15] mgax opened #244 "Demo server - default ssh keys"
The default ssh client keys for the demo server get overwritten by ansible when it reconfigures things. Let's inject them via the liquid-core configuration.

[2017-12-20 18:21] gabriel-v commented on #230
1. Please poll the `/api/configure/status/` endpoint at all times, forever, for each tab that renderes the Admin page. This is so all tabs get locked if someone starts a reconfiguring. Trigger a `GET /api/configure/status/` every 1s.
2. Keep going with the poll forever, even if requests start to fail. They will return after the device is reconfigured, after a few minutes. If one request fails to r

[2017-12-20 18:30] gabriel-v opened #245 "rendering issues when resizing pages"
- when you resize the page, you get rendering problems on the admin side panel.
- the admin side menu has an icon for "VPN" that doesn't do what the rest of them do
- the top menu in all apps is not responsive (i mean it is, but not in a good way)

[2017-12-20 18:33] gabriel-v opened #246 "show a big title for the admin page"
in the blue header of the Admin page, show a title that says: "liquiddemo.org Admin Panel"

[2017-12-20 22:55] #210 closed

[2017-12-20 22:55] #213 closed

[2017-12-20 23:27] gabriel-v opened #247 "the "admin" button in the menu has broken links"
The "admin" button should point to `liquiddemo.org/admin-ui` and not to `hypothesis.liquiddemo.org/admin-ui` or `hoover.liquiddemo.org/admin-ui`

[2017-12-21 11:37] mgax commented on #233
@mrc-toader I've just updated the hardware list: https://github.com/liquidinvestigations/docs/blob/master/manual/Readme.md#hardware-requirements

[2017-12-21 14:00] #241 closed

[2017-12-21 19:58] gabriel-v commented on #242
Don't use socat to forward a port to itself. We were using it when we were outputting that port to `11194` from factory, but it's not needed anymore.

[2017-12-21 21:30] mgax commented on #188
Done: https://github.com/liquidinvestigations/docs/commit/3ad38ac055e51331b185568a64fa294583937564

[2017-12-21 21:30] #188 closed

[2017-12-21 21:32] mgax commented on #239
For now I've [documented the problem away](https://github.com/liquidinvestigations/docs/commit/3ad38ac055e51331b185568a64fa294583937564), there's no need to delay the milestone any further. Moving to Q4.

[2017-12-21 21:34] mgax commented on #233
@mrc-toader There goes another update to the docs. Please make a run through the test script and report any issues you find.

[2017-12-22 15:46] gabriel-v opened #248 "hypothesis not working on odroid c2"
We don't know exactly why it doesn't start right now, but it doesn't. Also, this makes the boot time last 40 minutes, because the default curl timeout is 1 minute, and hypothesis somehow makes curl wait for it.

[2017-12-22 16:14] gabriel-v opened #249 "matrix not working on odroid c2"
first boot lasts another 40 minutes

[2017-12-22 16:21] gabriel-v commented on #249
![terminaaaaaaaaaala-25675343_1395417240566673_1869170420_n](https://user-images.githubusercontent.com/7493327/34304979-cf59248e-e744-11e7-8254-17ff1a8380fa.jpg)

[2017-12-22 17:09] gabriel-v opened #250 "tika not working on odroid c2"
on first boot it hangs for 40 minutes

[2017-12-27 12:21] mgax opened #251 "Manual QA instructions for Odroid C2"
Adapt the cloud image testing instructions (https://github.com/liquidinvestigations/docs/blob/master/testing/Cloud.md) to the Odroid C2 distribution.

[2017-12-27 12:22] mgax commented on #209
@gabriel-v and @mrc-toader came up with a manual QA testing script for the cloud image: https://github.com/liquidinvestigations/docs/blob/master/testing/Cloud.md. Next up, we need a similar script for the Odroid C2, I made a dedicated issue for that: https://github.com/liquidinvestigations/liquidinvestigations/issues/251

[2017-12-27 12:22] #209 closed

[2017-12-27 12:24] mrc-toader commented on #226
Manual test on cloud image steps here:
https://github.com/liquidinvestigations/docs/blob/master/testing/Cloud.md

Opened issues are in the following links:

https://waffle.io/liquidinvestigations/liquidinvestigations/cards/5a38f3db1f2cca001de3c7b5

https://waffle.io/liquidinvestigations/liquidinvestigations/cards/5a39182c4bacc6001c0bc216

https://waffle.io/liquidinvestigations/liquidinvestigations

[2017-12-27 12:24] #226 closed

[2017-12-27 13:00] gabriel-v opened #252 "Browser acceptance tests that cover all features of use"
- [ ] Test welcome form with non-default values (domainname randomliquid.org)
- [x] Nagivate to home page and check the app list
- [x] Test logging in into all apps
- [ ] Test the top menu links
- [x] Navigate through all admin pages
- [ ] Test reconfiguring works when changing configurations in all tabs

[2017-12-27 13:04] #246 closed

[2017-12-27 13:25] #247 closed

[2017-12-27 14:39] mrc-toader opened #253 "Rephrase titles for AdminUI > Network Configuration"
Lan - should specify "Create Wireless Hotspot"
Wan - should specify "Connect to Wireless Network"

So that people understand what each is.

[2017-12-27 14:49] mrc-toader opened #254 "Odroid DNS stops working"
- flashed fresh odroid image
- connected lan cable
- changed admin user and pass in welcome
- connected odroid to wifi network
- liquid.example.org doesn't work anymore
- added odroid's ip and domain to hosts
- works again

[2017-12-27 15:04] gabriel-v commented on #250
after rerunning, it works. Maybe we need `autorestart=true` on it?

[2017-12-29 10:21] gabriel-v commented on #214
done

[2017-12-29 10:21] #214 closed

[2018-01-03 12:35] gabriel-v opened #255 "do a manual test of the cloud image of Liquid Investigations"

[2018-01-03 12:37] mrc-toader commented on #233
I did a partial test, apps not working. Waiting for a new build.

[2018-01-03 13:33] gabriel-v opened #256 "turn "initialize.d" into a hook"
Make the `first-boot` hook only run steps needed to serve the `/welcome` page. Then, the welcome's `reconfigure` step runs `initialize.sh` that sets up the rest of the apps.

Then, split the `initialize.sh` script into two hooks: `initialize`, that only runs once after `/welcome` is submitted (and configures one-time things like the matrix configuration), and `configure` that runs every time the c

[2018-01-03 13:41] mgax commented on #256
Yep, I totally agree. The first-boot hook will need to run migrations for `liquid-core`, which should be pretty quick.

[2018-01-03 14:18] #235 closed

[2018-01-03 15:16] mgax commented on #242
@mrc-toader is this issue still relevant?

[2018-01-04 11:07] gabriel-v opened #257 "snoop resetindex fails intermittently"
[first_boot] + /opt/hoover/bin/hoover snoop resetindex davros-sync
    [first_boot] 2018-01-03 16:50:51 2208 WARNING elasticsearch PUT http://localhost:14352/davros-sync [status:N/A request:10.011s]

It appears that es can't PUT to indexes, even after it starts responding to GET requests.

Let's retry that `resetindex` call a few times.

[2018-01-04 11:51] mgax commented on #30
matrix is happpy without docker.

[2018-01-04 11:51] #30 closed

[2018-01-04 14:48] mgax opened #258 "Davros navigation menu integration"
The davros UI update was disabled here because of performance issues:
https://github.com/liquidinvestigations/ui-templates/pull/4/commits/ca801f1f714e9632cc725f6250e1759fd5951a20

We should pre-build davros UI with placeholder for URL.

[2018-01-05 15:02] mgax opened #259 "api shutdown endpoint is broken"
because it can't sudo the shutdown command

[2018-01-05 16:18] mrc-toader opened #260 "Hypothesis doesn't get domain update"
After setting up a custom domain on welcome screen on first launch.
`Plase access the services at: liquid.test.org`

[2018-01-06 18:17] m-nic commented on #230
When clicking repair this is what happens: the ui calls /api/configure/repair and starts polling /api/configure/status.
The issue is that the immediate status request would still return broken (that would also get shown in the ui).
Is something that can be easily fixed from backend?
Also I don't see any dump in the response.

[2018-01-06 18:18] #193 closed

[2018-01-08 14:50] mrc-toader opened #261 "admin page to say how to log in via ssh"
The AdminUI > Network > SSH tab should specify that the user `liquid-admin`  needs to be used.

[2018-01-08 17:08] mrc-toader opened #262 "Matrix doesn't turn off"
From AdminUI > Services toggle.
I killed it gracefully with supervisorctl stop, used around ~1GB ram.

[2018-01-08 17:22] mrc-toader opened #263 "Hoover CSS overlap"
Lower hoover content under the topbar.
[code]

[2018-01-09 13:00] mrc-toader opened #264 "Some apps don't start on OdroidC2 reboot"
` avahi-daemon, davros-authproxy, lan-dnsmasq, liquid-core, liquid-discover `

Had to assign myself a static ip, ssh in, start them, restart nginx.

`/var/log/rc.local.log` gets updated on reboot, says they get started ok.

[2018-01-09 13:02] mgax commented on #248
Should work now, @mrc-toader please check.

[2018-01-09 13:03] mgax commented on #249
Should work now, @mrc-toader please check.

[2018-01-09 13:03] mgax commented on #250
Should work now, @mrc-toader please check.

[2018-01-09 15:12] mgax opened #265 "Demo server - broken login"
The default logins (`admin` and `test`) don't work any more.

[2018-01-09 15:14] mrc-toader commented on #248
Works.

[2018-01-09 15:14] #248 closed

[2018-01-09 15:14] mrc-toader commented on #249
Works.

[2018-01-09 15:14] #249 closed

[2018-01-09 15:15] mrc-toader commented on #250
Works.

[2018-01-09 15:15] #250 closed

[2018-01-09 15:36] mgax commented on #262
The expected behaviour is for ansible to remove matrix from supervisor. I've just tested on an odroid, and it does get removed properly, and no processes are left over in the system.

[2018-01-09 15:42] mgax commented on #259
Should be fixed now.

[2018-01-09 16:28] mgax commented on #264
@mrc-toader should be fixed in the next build, please test.

[2018-01-09 16:28] mgax commented on #254
Maybe this is related to https://github.com/liquidinvestigations/liquidinvestigations/issues/264. Please test in the next build.

[2018-01-09 16:30] mgax commented on #198
Fixed by https://github.com/hoover/search/commit/d4a5a05b0a8c88e4d4482450e0cfc9758e0469bd and https://github.com/liquidinvestigations/setup/commit/92beb29894d29b627e63e884543c4823406ff0f5. @mrc-toader please test this in the next build - the `davros-sync` collection should be searchable without having to configure it from the django admin.

Since we don't require authentication to view hoover page

[2018-01-10 12:30] mrc-toader commented on #255
Tested apps, working ok. Must test data collections uploaded to davros.

[2018-01-10 12:32] mrc-toader commented on #28
A liquid image build for rock64 is in progress: https://github.com/liquidinvestigations/setup/pull/121

[2018-01-10 13:35] gabriel-v opened #266 "/api/configure/status returns broken when it shouldn't"
there are suspicions that the api returns 'broken' from time to time, when it shouldn't. Let's investigate

[2018-01-10 13:37] gabriel-v commented on #230
We'll investigate it, but the UI should be resilient to such problems (returning the old status for a short time). After that initial incorrect response, the UI should keep polling and display the progress when `/api/reconfigure/status` starts responding with 'reconfiguring'

[2018-01-10 15:35] gabriel-v commented on #265
fixed by https://github.com/liquidinvestigations/setup/commit/eb402df1b9e0da567728763994544513c43e68d5 and some other things

[2018-01-10 15:35] #265 closed, assigned to gabriel-v

[2018-01-10 16:31] #240 closed

[2018-01-11 22:45] #245 closed

[2018-01-11 23:28] #230 closed

[2018-01-12 17:32] #243 closed

[2018-01-12 18:08] #170 closed

[2018-01-15 15:52] mrc-toader commented on #262
It's horribly slow, but it works.

[2018-01-15 15:52] #262 closed, assigned to mrc-toader

[2018-01-15 15:55] mrc-toader commented on #254
Works now.

[2018-01-15 15:55] #254 closed

[2018-01-15 16:51] mrc-toader commented on #259
Shutdown and reboot from AdminUI work now.

[2018-01-15 16:51] #259 closed, assigned to mrc-toader

[2018-01-16 12:03] mgax opened #267 "Manual test on rock64"
Please perform a full manual test on rock64, we have almost-working images :)

A workaround for https://github.com/liquidinvestigations/setup/issues/124 is needed: upgrade ansible to version 2.4 *before* submitting the welcome form.

[here](https://jenkins.liquiddemo.org/job/setup-rock64/view/change-requests/job/PR-121/11/) is the image.

[2018-01-16 13:57] mrc-toader opened #268 "Rock64 disable password login for default user"
Disable physical login, for display & keyboard.

[2018-01-16 14:49] mrc-toader opened #269 "Some apps should be disabled by default"
At least matrix, maybe hypothesis.

[2018-01-16 15:43] mrc-toader opened #270 "Reconfigure still spins after it finished."
![reconfigure-spin.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59a5502080bf0800129616fe/125516c66e82c728ace21e0d46fa91992c8c85a088fcad46e94ee09d27046b313916ac217586f76ae5002e585b5e4ffe450d5f47f9abd87aa6b73f72835c0be9d46a4d68d47f40f2ecdd42e64bef62994597b7bb804dc5e93b24e68c8b4c391b02189bb2.png)

[2018-01-16 15:43] mrc-toader commented on #270
![reconfigure-spin.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59a5502080bf0800129616fe/125516c66e82c728ace21e0d46fa91992c8c85a088fcad46e94ee09d27046b313916ac217586f76ae5002e585b5e4ffe450d5f47f9abd87aa6b73f72835c0be9d46a4d68d47f40f2ecdd42e64bef62994597b7bb804dc5e93b24e68c8b4e3b1c07109bb2.png)

[2018-01-16 15:45] mrc-toader opened #271 "Wifi client doesn't reconnect after reconfigure/reboot."
AdminUI > Network > Wan
Works only if DHCP toggle is off.

[2018-01-16 16:25] mrc-toader opened #272 "Reconfigure takes 4~5 minutes."
Would be nice to separate relevant ansible tasks and not re-run all of it.

[2018-01-16 16:39] mgax opened #273 "Test odroid c2 with only hoover + davros"
Let's see if the odroid can index some non-trivial data. Disable all non-essential apps, upload the testdata collection, and measure some performance: how long it takes to process testdata, and maximum memory used during the process.

When measuring the time it takes to index, be sure to watch when the actual processing starts - it may take up to one minute before it begins.

Then, browse through

[2018-01-16 20:48] m-nic commented on #270
what are the conditions to replicate the issue. Thanks!

[2018-01-17 15:08] Luthieneye commented on #28
This could be a great alternative to Odroid if optimization process stalls.

[2018-01-17 16:26] mrc-toader commented on #270
I can't seem to replicate it on x86_64 / cloud, it only happens on ARM.
Basically says this (photo) until I refresh and login.
![403.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59a5502080bf0800129616fe/125516c66e82c728ace21e0d46bcc4c961cec1b99de6b546a749b2ce6b137e277855a17f75d5b07dbd437a515e5c4ca541585b41fbeb9539e4e76224d50152a7842f4d7ed43c16a6b9871eb903ba26894f80b5b58

[2018-01-17 18:24] #202 closed

[2018-01-18 11:43] mgax commented on #28
We are building full images for rock64 and they work just as well as the odroid c2 image. So, in conclusion, we can use it as our main platform.

[2018-01-18 11:43] #28 closed

[2018-01-18 11:44] mgax commented on #198
Works.

[2018-01-18 11:44] #198 closed

[2018-01-18 11:45] mgax commented on #172
Done.

[2018-01-18 11:45] #172 closed

[2018-01-18 11:49] mgax commented on #233
Closing; there is a separate issue for the instructions.

[2018-01-18 11:49] #233 closed

[2018-01-18 11:54] mgax commented on #272
Closing in favor of https://github.com/liquidinvestigations/setup/issues/117.

[2018-01-18 11:54] #272 closed, assigned to nobody

[2018-01-18 11:55] mgax commented on #271
That's weird, the DHCP toggle is a no-op. And I've seen the wifi reconnect after reboot. Please re-test and close.

[2018-01-18 12:05] mgax commented on #244
Closing. Maybe somebody will get angry one day and do it.

[2018-01-18 12:05] #244 closed

[2018-01-18 12:05] #242 closed

[2018-01-18 12:10] mgax commented on #239
We decided not to do this.

[2018-01-18 12:10] #239 closed

[2018-01-18 12:12] #168 closed

[2018-01-18 12:14] #102 closed

[2018-01-18 12:14] #134 closed

[2018-01-18 12:15] #128 closed

[2018-01-18 12:18] #48 closed

[2018-01-18 12:18] mgax commented on #70
Done

[2018-01-18 12:18] #70 closed

[2018-01-18 12:19] #89 closed

[2018-01-18 13:22] mrc-toader commented on #271
With the last builds it worked on my testing too, reconfigure was probably got broken on that image. Closing now. If I notice it again and can replicate it, I'll make a new issue.

[2018-01-18 13:22] #271 closed, assigned to nobody

[2018-01-18 14:44] mrc-toader opened #274 "OdroidC2 Wifi Hotspot unavailable"
AdminUI > Network > lan
The `Update` button is grayed out after filling SSID and password (8+ chars) fields.

[2018-01-19 10:38] m-nic commented on #270
Can you update the ARM with the latest UI and try to replicate the issue? Please close the this issue if no longer present.

[2018-01-19 16:27] mrc-toader commented on #270
Works now, thanks.

[2018-01-19 16:27] #270 closed, assigned to m-nic

[2018-01-22 13:15] mrc-toader commented on #267
The generated images work now.

[2018-01-22 13:15] #267 closed, assigned to mrc-toader

[2018-01-22 13:16] mrc-toader commented on #264
Seems to be working now.

[2018-01-22 13:16] #264 closed, assigned to mrc-toader

[2018-01-22 13:17] mrc-toader commented on #273
Also tested with just matrix disabled. Works reasonable but should boot with just the two until the data is digested.

[2018-01-22 13:17] #273 closed, assigned to mrc-toader

[2018-01-22 13:44] mrc-toader commented on #251
Initial testing steps for C2 / Rock64 here:
https://github.com/liquidinvestigations/docs/blob/master/testing/ARM64.md

[2018-01-22 13:44] #251 closed

[2018-02-01 12:24] Luthieneye opened #275 "Bug report on Liquiddemo"
Included all issues & screenshots in this Bug report: https://docs.google.com/document/d/14cPETNr_Av4e5lv_qIb-byrwi5NIUbFhutWqaKIA8SI/edit

[2018-02-02 09:32] mgax commented on #43
Fixed in https://github.com/hoover/ui/commit/43b59e4004b1c58a8c6040a6f2418b805027a5c6

[2018-02-05 12:41] mgax opened #276 "Integrate Riot UI for Matrix"

[2018-02-05 12:42] #43 closed

[2018-02-05 12:53] mgax opened #277 "Annotations don't show up after refresh"

[2018-02-05 12:54] mgax commented on #275
* The menu bar was disabled because of performance issues, we'll bring it back: https://github.com/liquidinvestigations/liquidinvestigations/issues/258

The back button depends on where you came from. If you came from hoover, it takes you back to hoover.

Yeah that would be nice to have. Let's leave it for later. No need for a separate issue, we'll surely notice this problem again.

Covered by htt

[2018-02-05 13:22] #150 closed

[2018-02-05 13:29] #275 closed, assigned to mgax, gabriel-v

[2018-02-05 13:31] mgax commented on #215
It's long done.

[2018-02-05 13:31] #215 closed

[2018-02-05 14:05] mgax opened #278 "Install procedure for bare-metal x86"
Maybe we can generate a USB-stick image that installs the liquid bundle on the hard drive.

[2018-02-06 11:56] mgax commented on #274
Tested, works, I think @m-nic fixed it a while back.

[2018-02-06 11:56] #274 closed, assigned to nobody

[2018-02-06 12:23] mgax commented on #216
Reopening, for testing

[2018-02-06 14:33] mgax commented on #277
Should be fixed by https://github.com/liquidinvestigations/setup/commit/650f0988413fd250666f3ed2556158abded7360a

[2018-02-06 14:35] mgax commented on #260
The hypothesis nginx task in ansible was not tagged with `configure`. Fixed; please test the next build.

[2018-02-06 14:35] mgax commented on #263
I copied the css rule to ui-templates. Please test the next build.

[2018-02-06 14:38] mgax commented on #238
The ansible role for Hypothesis was missing a `configure` tag. Added; please test the next build. Matrix, by the way, seemed fine, please check again.

[2018-02-06 14:39] mgax commented on #269
I've disabled them from liquid-core initial data. Please test.

[2018-02-07 10:55] mgax opened #279 "Matrix SSO"
done, ready for testing

[2018-02-07 12:55] Luthieneye opened #280 "'Welcome' finished notification and redirect to login"
Step 1.
 Open browser and go to liquid.example.org to set up your Liquid node;
choose a domain name and your admin username and password
Step 2.
User gets prompted to wait couple minutes until the settings are being applied.

Would be great to have a UI notification for step 2, informing the user when the settings finished to being applied.

[2018-02-07 13:00] Luthieneye opened #281 "Hoover Search results page/ pie chart faulty display"

[2018-02-07 15:18] mgax commented on #258
addressed by https://github.com/liquidinvestigations/ui-templates/commit/94063fe337ab0d4b4b81a3b9e0ba96418815ea2d, please test in the next build.

[2018-02-07 16:55] mgax commented on #237
Ok now, liquid-core calls supervisorctl to get vpn-client and vpn-server status, please test the next image.

[2018-02-07 16:59] mgax opened #282 "Remove validation from admin wifi client"
Right now you can't disconnect from a wireless network. Make the ssid+password fields optional so the user can un-set them.

[2018-02-07 17:03] mgax commented on #253
Fixed, please check the next build.

[2018-02-07 17:07] mgax commented on #282
Done, please check the next build.

[2018-02-07 17:10] mgax commented on #281
@Luthieneye Is this https://github.com/liquidinvestigations/liquidinvestigations/issues/263 again? I think you tested an old image where the bug was still present.

[2018-02-07 19:34] mrc-toader commented on #280
I just ran into a bug using `liquid.rock.com` that actually exists online apparently; and my browser (chrome) remained hooked on that page instead of receiving the one from the board.
Other browsers (and the chrome in private browsing), did load the page correctly.

It can happen with any domain/subdomain that already exists.

[2018-02-07 20:05] Luthieneye commented on #281
yes. closing.

[2018-02-07 20:05] #281 closed, assigned to mgax

[2018-02-08 11:53] mgax opened #283 "hypothesis and matrix initial user"
As hypothesis and matrix are disabled by default, they don't get the initial admin user. Currently the workaround is to enable them, and then create a new user.

The first quick fix would be just to re-enable them by default.

Another quick fix would be to have them enabled during initial setup and to disable them as the last step of the welcome process.

The ultimate fix is single-sign-on, but we

[2018-02-08 12:22] mgax commented on #212
Should be fixed, please test the next build.

[2018-02-08 14:03] mgax commented on #261
Done, please test the next image.

[2018-02-08 16:54] mgax commented on #276
Done; please test the next build.

[2018-02-09 10:02] mgax commented on #283
I've re-enabled hypothesis and matrix by default. Moving to backlog.

[2018-02-09 10:03] mgax commented on #266
I haven't noticed this bug in a while. Moving to backlog.

[2018-02-12 13:54] mgax opened #284 "Set time from welcome form"
The welcome form should use the browser's time to set the board's time.

[2018-02-12 14:00] Luthieneye opened #285 "ARM Dokuwiki doesn't accept user login"
Dokuwiki on  Rock64/OdroidC2 doesn't recognize user credentials

[2018-02-12 14:17] mgax opened #286 "Validate that usernames must be lowercase"
Because dokuwiki and matrix normalize their usernames to lowercase.

[2018-02-14 14:59] mgax opened #287 ""repairconfig" should re-run ansible and restart all services"

[2018-02-21 10:32] mgax opened #288 "Test board discovery over VPN"

[2018-03-04 12:21] mgax commented on #255
Blocked on https://github.com/liquidinvestigations/setup/pull/127, https://github.com/liquidinvestigations/setup/pull/128

[2018-03-04 12:27] #283 closed, assigned to mgax, gabriel-v

[2018-03-04 12:33] gabriel-v opened #289 "Dokuwiki SSO"

[2018-03-04 12:33] gabriel-v opened #290 "Hypothesis SSO"

[2018-03-04 12:34] gabriel-v opened #291 "liquid-core: two factor auth"
migrate code from hoover.search.contrib.twofactor

[2018-03-04 12:37] gabriel-v opened #292 "Test login and logout from all apps"
blocked on implementing SSO for all apps

[2018-03-04 12:51] gabriel-v opened #293 "auto-index new davros documents into snoop2"

[2018-03-04 12:58] mgax opened #294 "Snoop2 - index newly uploaded files"
Restore the cron job that indexes files newly uploaded in davros

[2018-03-04 14:29] gabriel-v commented on #293
closing as dupe of #294

[2018-03-04 14:29] #293 closed, assigned to mgax, gabriel-v

[2018-03-04 15:56] mgax opened #295 "Fix davros-sync for snoop2"
Need to invalidate `filesystem.walk` tasks

[2018-03-07 14:13] mrc-toader commented on #260
Works now.

[2018-03-07 14:13] #260 closed, assigned to mrc-toader

[2018-03-07 14:15] mrc-toader commented on #258
Works.

[2018-03-07 14:15] #258 closed, assigned to mrc-toader

[2018-03-07 14:17] mrc-toader commented on #216
Works.

[2018-03-07 14:17] #216 closed

[2018-03-07 14:18] mrc-toader commented on #261
Marvelous.

[2018-03-07 14:18] #261 closed, assigned to mrc-toader

[2018-03-07 14:19] mrc-toader commented on #253
Works

[2018-03-07 14:19] #253 closed

[2018-03-07 14:45] mrc-toader commented on #238
They get turned off, but not turned on again. Repair gets triggered but still doesn't work.

[2018-03-07 14:45] mrc-toader commented on #276
Works.

[2018-03-07 14:45] #276 closed, assigned to mrc-toader

[2018-03-08 14:53] gabriel-v commented on #107
add `admin` field here: https://github.com/liquidinvestigations/core/blob/feb355a416c4eeb7fe5d64c21a3ad450bc66027a/liquidcore/home/views.py#L32

[2018-03-08 14:58] gabriel-v commented on #294
close in favor of #295

[2018-03-08 14:58] #294 closed, assigned to mgax, gabriel-v

[2018-03-08 14:59] gabriel-v commented on #269
all apps to be enabled all the time

[2018-03-08 14:59] #269 closed, assigned to mrc-toader

[2018-03-08 15:01] gabriel-v commented on #290
closing in favor of #15

[2018-03-08 15:01] #290 closed, assigned to mgax, gabriel-v

[2018-03-08 15:06] gabriel-v opened #296 "Find, mount and use external storage volume"
Before first boot runs:

- mount first ext4 partition to `/var/lib/liquid` by using `lsblk -J`
- if the mounted fs is empty, copy `/opt/var-lib-liquid-template` to `/var/lib/liquid`
- continue booting normally

[2018-03-08 15:11] gabriel-v opened #297 "Test that apps still have data after updating image"
test #296 by booting with an external volume, adding some input in all apps and resetting the VM, then booting it with the same external volume

TODO: write test scripts here (factory commands, etc)

[2018-03-12 12:39] mgax opened #298 "davros login is broken on demo server"

[2018-03-12 12:45] mgax opened #299 "Welcome form - UI to select external drive"

[2018-03-14 12:07] germakoci opened #300 "redirect of liquid hypothes.is homepage to the liquid hypothes.is user page"
After SSO will be implemented, I think it makes sense that the bundle homepage of hypothes.is ( ex https://hypothesis.liquiddemo.org/ ) should redirect straight to the user page (ex. https://hypothesis.liquiddemo.org/users/test )

[2018-03-14 12:09] germakoci opened #301 "Cleaning the liquid hypothes.is user page"
In the **How to Get Started** (ex. https://hypothesis.liquiddemo.org/users/test ) I think the current instructions 1. and 4. should not be displayed.

- “1. Install Chrome extension” instruction should not be displayed anymore since the liquid hypothes.is is always on when having any of the apps in the bundle open.

- “4. Read more about how to annotate with groups” that links outside the bundle –

[2018-03-14 12:12] germakoci opened #302 "Possible to disable public Hypothes.is annotations for the Liquid bundle ?"
In order to avoid confusion between public annotations on hoover secret docs vs. liquid annotations on hoover secret docs, is it possible to disable public Hypothes.is annotations within the Liquid bundle ?

[2018-03-19 17:26] mgax opened #303 "Matrix SSO logout"
Matrix SSO is implemented as a normal matrix login, but instead of a password, the oauth token is used. After login is complete, the matrix/riot session stores its own token in local storage in the browser. This token is not cleared when you log out. Even though riot will not be served after logout (authproxy performs a redirect to the login page), the matrix login token is still valid, and can be

[2018-03-20 11:47] mgax commented on #298
fixed, deployed, all good.

[2018-03-20 11:47] #298 closed, assigned to nobody

[2018-03-20 12:10] mrc-toader commented on #238
Works.

[2018-03-20 16:51] mrc-toader commented on #237
Works.

[2018-03-20 16:51] #237 closed

[2018-03-21 14:49] mgax commented on #255
is. done. already.

[2018-03-21 14:49] #255 closed, assigned to mrc-toader

[2018-03-21 14:57] mgax commented on #287
Nope, doesn't quite work yet.

[2018-03-21 14:58] mgax commented on #282
Testing depends on https://github.com/liquidinvestigations/setup/issues/132

[2018-03-22 13:44] gabriel-v commented on #282
will also need to remove validation for the backend, in liquid-core

[2018-03-22 13:46] gabriel-v commented on #282
UI changes are done

[2018-03-22 14:26] #282 closed, assigned to gabriel-v

[2018-03-22 14:27] #286 closed, assigned to gabriel-v

[2018-03-26 15:38] mrc-toader commented on #279
Works.

[2018-03-26 15:38] #279 closed, assigned to mrc-toader

[2018-03-26 15:41] mrc-toader commented on #212
Works. :)

[2018-03-26 15:41] #212 closed

[2018-03-26 19:30] #295 closed, assigned to mgax, gabriel-v

[2018-03-29 11:26] mgax opened #304 "Make sure indexing from davros works by itself"

[2018-03-29 11:26] mgax opened #305 "Remove username/password prompt from dokuwiki login page"

[2018-03-29 18:07] mgax commented on #304
Fixed,  works on demo server.

[2018-03-29 18:07] #304 closed, assigned to nobody

[2018-03-29 18:39] gabriel-v commented on #296
done

[2018-03-29 18:39] #296 closed, assigned to gabriel-v

[2018-03-29 18:54] germakoci opened #306 "Create Private Group in annotations doesn't work"
here https://hypothesis.liquiddemo.org/groups/new  you can start Create New Group but it won't save the new group, so the only publishing option for annotations is under Public

[2018-03-30 12:18] germakoci opened #307 "not all users can see all annotations"
user test sees all annotations made by other users

user admin and other users can see only their own annotations

[2018-04-02 14:45] #122 closed

[2018-04-02 14:45] #289 closed, assigned to mgax, gabriel-v

[2018-04-02 14:46] #15 closed

[2018-04-02 16:17] #305 closed, assigned to nobody

[2018-04-06 17:51] mrc-toader opened #308 "boot hangs for postgresql start"
[code]

Wasn't able to replicate, maybe it takes a while to start db server sometimes.

The script is here: `https://github.com/liquidinvestigations/setup/blob/master/ansible/roles/common/templates/initialize.sh`

[2018-04-06 17:58] mrc-toader opened #309 "Hoover oauth dies after rebooting persistent cloud"
http://hoover.liquid.example.org/accouns/login gives `Server Error (500)`

[2018-04-06 17:59] mrc-toader opened #310 "Dokuwiki oauth dies after rebooting persistent cloud"
http://dokuwiki.liquid.example.org/doku.php?oauthlogin=Liquid gives `An error occured during the request to the oauth provider: Could not connect to liquid.example.org:80 php_network_getaddresses: getaddrinfo failed: Name or service not known (0)`

[2018-04-06 18:00] mrc-toader opened #311 "Davros login dies after rebooting persistent cloud"
`500 Internal Server Error`